[2017-07-31 14:23] domodwyer opened #20 "Add contribution guidelines"
Create a `CONTRIBUTING.md` file for the project.

Include at least test requirements, and that PRs should be targeted to development.

[2017-08-01 10:19] inancgumus opened #21 "Socket connection errors"
When `sess.SetPoolLimit(50)` not used many errors are occurring when `mgo` is under stress like 10.000 concurrent connections.

When I limit the pool errors went away.

I've created a test-case source-code for this problem below, so you can test it in your own machine easily.

Do you have any suggestions about this behaviour?

[code]

[2017-08-01 10:20] inancgumus commented on #20
Yeah, I had no time when sending that PR, so I saw the failing test afterwards, sorry about that. I'll find a time and fix it.

[2017-08-02 12:12] domodwyer commented on #21
Hi @inancgumus,

Have you tuned the mongod connection limits (either in the config or with `--maxConns`) and the [ulimits](https://docs.mongodb.com/manual/reference/ulimit/)? Can you paste the output of `db.serverStatus().connections` and `ulimit -n` on your test machine?

It seems `SetPoolLimit()` [isn't supposed to be used as a concurrency limiter](https://github.com/go-mgo/mgo/issues/467#issuec

[2017-08-02 16:41] #20 closed

[2017-08-04 12:27] inancgumus commented on #21
Hi @domodwyer ,

I didn't try `--maxConns`, but I set `ulimit` to unlimiteds. Yeah, I had read that view on `SetPoolLimit` and I aggree on that. I'm just exploring what causes this and how to prevent it, firstly, other than restructing my code. Did you try the code above on your machine? So, maybe you can see the problem directly.

**These are my config details:**

**ulimit -a:**

[code]

[code]

[2017-08-04 12:33] inancgumus commented on #21
Now I tried `maxConns` option and there are still `ERR: read tcp 127.0.0.1:52547->127.0.0.1:27017: read: connection reset by peer` errors.

`$ mongod --config /usr/local/etc/mongod.conf --maxConns=500000`

[code]

[2017-08-04 12:40] inancgumus commented on #21
And there are also new errors from `mgo` like this (_weirdly, not always happens_):

[code]

[code]

[2017-08-07 08:49] domodwyer commented on #21
Hi @inancgumus

I ran your code and I can only reproduce with `operationProfiling.mode = all` which slows down operations significantly - turning this off will help performance in general, but this suggests your DB ops are slowish, and therefore are holding onto connections while they complete. The mgo driver will keep dialing new connections as it needs them, up till the limit set by `SetPoolLimi

[2017-08-07 08:49] #21 closed

[2017-08-08 11:09] inancgumus commented on #21
My DB ops as in the code above and they're very simple and the collection only has a few records. So, I couldn't get what's wrong with them. Is there a problem in the code above?

I tried `netstat` and also `lsof -n -i4TCP:27017 | wc -l` to watch mongo connections. I also set `kern.ipc.somaxconn' and ulimit files to `10240` etc. And, then I increased with `sess.SetPoolLimit(10000)`. I run the code

[2017-08-08 11:55] domodwyer commented on #21
The code seems fine, but `operationProfiling.mode = all` will slow down operations considerably - try running without it. DB ops can also be slowed down by maxing the disk I/O, CPU, or any other resource shared between your app, Mongo, and any other program on your machine which is quite a few on your laptop!

Running an aggregation (or in this case, loads of parallel aggregations) over all record

[2017-08-08 13:30] inancgumus commented on #21
Actually, all of this talk started when I'm stress testing my web API with `vegeta`. I wrote this small script to test the same errors happen to isolate the problem from my API. Then, I saw that it also happens with this simple code. So, I thought that it could be a mgo issue. Maybe, it's because of Mongo itself. I don't know yet. Thanks for all your help.

[2017-09-04 13:58] feliixx opened #27 "Mongodb 3.4.x support"
Currently some features of MongoDB 3.4.x are implemented ( **collations** for example) but aren't documented ( [Query.Collation()](https://godoc.org/github.com/globalsign/mgo#Query.Collation), views...), and some other aren't implemented at all (see [#484](https://github.com/go-mgo/mgo/issues/484) )

In addition, test aren't run against mongo 3.4.x in Travis CI, so it's not very clear whether this

[2017-09-04 14:10] domodwyer commented on #27
Hi @feliixx

So 3.4 is supported (but as you said, partially) - I'm very interested in the `appName` parameter (https://github.com/go-mgo/mgo/issues/484) and was planning on implementing it myself when I had the time - if you'd like to, please do! I'll help however I can :)

Obviously views are a good nice-to-have and may become more of a priority for us in the future, I haven't looked into how mu

[2017-09-04 14:12] domodwyer commented on #27
As a side note, we'll happily host the 3.4 binaries for the travis tests if you decide to have a crack at it - just let us know and we'll get them uploaded.

Dom

[2017-09-05 12:44] feliixx commented on #27
@domodwyer Thanks, that would be great ! I started working on `appName` parameter, see PR #28

[2017-09-05 15:50] domodwyer opened #29 "Add collation documentation"
Currently we support collations, but there's no documentation!

https://godoc.org/github.com/globalsign/mgo#Query.Collation

Requires a quick PR adding documentation :)

[2017-09-05 15:53] domodwyer opened #30 "Support views"
MongoDB 3.4.X introduced support for read-only [views](https://docs.mongodb.com/manual/core/views/) - we should too!

Currently views aren't a priority, but they're considered a "nice to have".

[2017-09-05 15:56] domodwyer opened #31 "Run integration tests against MongoDB 3.4.X"
Currently we run integration tests against the `2.6.X`, `3.0.X` and `3.2.X` releases of MongoDB.

We should also run against `3.4.X` - this is tricky as the test harness is difficult to work with.

If anyone wants to take a crack at it we're happy to host the binaries as we do for the other versions, see [travis.yml](https://github.com/globalsign/mgo/blob/master/.travis.yml) - just leave a message

[2017-09-05 15:59] domodwyer commented on #27
Hey @feliixx, thanks for the PR!

I've split this issue into individual feature request issues so we can close them as we go along:

- Collation https://github.com/globalsign/mgo/issues/29
- Views https://github.com/globalsign/mgo/issues/30
- Integration tests https://github.com/globalsign/mgo/issues/31

I'm going to close this ticket and switch to the above :) Thanks for bringing it up.

Dom

[2017-09-05 15:59] #27 closed

[2017-09-06 14:35] feliixx commented on #31
I'll try to make the test pass against 3.4.x, please let me know when the binaries are uploaded !

[2017-09-07 10:25] xkeyideal opened #34 "You begin maintain golang mongo driver based on go-mgo/mgo?"

[2017-09-07 11:05] domodwyer commented on #31
Hey @feliixx

The integration tests on 3.4.X are a bit of a priority if we're adding more 3.4.X features (mostly by you!), thanks very much. The test harness is a bit tricky to work with, I was going to look at replacing it with [mlaunch](https://github.com/rueckstiess/mtools/wiki/mlaunch) from the mtools script collection to try and make it easier to work with - I dunno if this will work (it migh

[2017-09-07 11:30] domodwyer commented on #34
Hi @xkeyideal

Yes, we (@globalsign) are maintaining this fork of mgo that we use internally - we're committed to keeping it alive and updated for the long term and are open to PRs from others :)

We merge PRs into development, which is then tested in a sharded, replicated environment in our datacenter for regressions. Once everyone is happy, we merge to master - this is to maintain a bit of quali

[2017-09-07 11:30] #34 closed

[2017-09-08 01:31] xkeyideal commented on #34
Please see the issue
https://github.com/go-mgo/mgo/issues/487

[2017-09-08 03:29] xkeyideal commented on #34
I found the reason, see the issue.

I think you should fix it, the mode of nearest should visit localhost server mongodb possibly, not just check the network latency.

[2017-09-08 10:30] domodwyer commented on #34
Hi @xkeyideal

If you want to talk to the local database only and ignore the rest of the cluster, you should use the `connect=direct` dial string parameter - check the [documentation](https://godoc.org/github.com/globalsign/mgo#Dial).

The current behaviour works for our needs and seems to be correct so we won't be changing it ourselves. Saying that, if you think the current behaviour is broken yo

[2017-09-11 01:30] xkeyideal commented on #34
I know `connect=direct`, but if the local database disconnect, then the server will down.

So I need nearest support as the  mongodb documentation.

[2017-09-11 09:35] domodwyer commented on #30
Support for views was added by @feliixx - thanks!

[2017-09-11 09:35] #30 closed

[2017-09-13 12:57] #29 closed

[2017-09-15 15:18] #31 closed

[2017-09-27 12:12] feliixx opened #43 "fix golint and go vet warnings"
The contributions guidelines states that

Currently, 6 files aren't formatted with `go fmt`, `golint` returns 126 warnings and `go vet` returns  486 warnings!
It would be nice to fix this in order to run gloint/go vet against new code direclty in travis

If you're interrested in this I'll send a PR!

[2017-09-27 14:32] domodwyer commented on #43
Hey @feliixx!

We're definitely interested in a PR - we know the pre-fork code is not exactly go vet friendly...

On a side note I'm at a database conference this week and a few people asked about 3.4 support - I credited you for the hard work :)

Dom

[2017-10-06 09:40] domodwyer commented on #43
Thanks _again_ @feliixx, this was a serious undertaking!

[2017-10-06 09:40] #43 closed

[2017-10-14 01:54] idy opened #51 "Socket hangs up in some cases"
I thinks the lock before socket.conn.write cause the problem: https://github.com/globalsign/mgo/blob/master/socket.go#L522

The unlock of this mutx is after the write opreation: https://github.com/globalsign/mgo/blob/master/socket.go#L561

Which caused the socket cannot read while writing.

[2017-10-19 11:49] #51 closed

[2017-11-07 04:43] qhenkart opened #59 "Considering switching to globalsign/mgo"
Hey guys, my co-workers and I are impressed by how well you're maintaining this project, and we are considering switching from the neglected go-mgo driver to your repo.

We have two quick questions if you don't mind:

1) We are wondering if you guys are keeping your repo up to date with new commits from 10gen/mgo, or do you work completely independently of them?

2) Do you know if there are any pl

[2017-11-07 10:13] domodwyer commented on #59
Hi @qhenkart

First off thanks for your kind words!

We keep an eye on both the 10gen repo, and the original go-mgo repo, pulling anything of use over into this - that's actually how this started, I was just keeping a "best of" repo for our own use. Now it's grown into mostly organic changes from the many [fantastic contributors](https://github.com/globalsign/mgo/blob/development/README.md#thanks-

[2017-11-07 10:13] #59 closed

[2017-11-15 15:40] hexadecy opened #60 "read tcp i/o timeout on Windows 10"
After some db calls, we have to restart our Go backend:

MongoDB 3.4.10
Go 1.9.2 windows/amd64
github.com/globalsign/mgo 5be15cc6a44937b6937a9487e1633f8a5fb25e4a

I think it was ok with:
MongoDB 3.2.16
github.com/globalsign/mgo c4a7121bd9f6f7246d9f54b78bdd2eb4d18b4c76
Go 1.9.1 Alpine 3.6

[2017-11-15 16:30] domodwyer commented on #60
Hi @hexadecy - thanks for the report.

Do you have any more info?
* Do all requests fail after a certain point?
* What timeouts do you have configured?
* Are you using bulk ops? What sort of workload are you running?
* Do you see the issue with 5be15cc6a44937b6937a9487e1633f8a5fb25e4a and Mongo 3.2 or only on 3.4?

I'll get a new test running in our environment ASAP.

Dom

[2017-11-15 17:19] hexadecy commented on #60
- Yes all requests fail after the timeout, we use mgodb.Session.Clone() for all of our http handlers
- Default timeouts, our project use nginx 1.12.2 as a proxy and labstack/echo v3 as go framework
- No bulk ops, just single user workload on our dev environment
- We only tested 3.4 so far with this commit https://github.com/globalsign/mgo/commit/5be15cc6a44937b6937a9487e1633f8a5fb25e4a

[2017-11-15 17:28] domodwyer commented on #60
Thanks @hexadecy - I'll look into it ASAP.

[2017-11-16 15:33] hexadecy commented on #60
That change looks suspicious to me:
https://github.com/globalsign/mgo/commit/5be15cc6a44937b6937a9487e1633f8a5fb25e4a#diff-a75970bbdfa9237a3958512f8cc2fb09

Why have you reverted it than merged it?

[2017-11-16 16:14] domodwyer commented on #60
Hey @hexadecy

I've been running a test against one of our mongo environments (replicated & sharded) over the last 24 hours and I'm unable to reproduce the problem against 3.2.x. I also killed all connections at random throughout the night, and they recovered automatically.

I'll switch to 3.4 and try another run, but I don't think the change between 5be15cc6a44937b6937a9487e1633f8a5fb25e4a and c4

[2017-11-16 16:16] domodwyer commented on #60
It was reverted as it incorrectly targeted master (see https://github.com/globalsign/mgo/pull/54) - we merge to development, test in staging and then merge to master - sorry for the confusion!

[2017-11-16 16:19] weiishann commented on #60
Hi @hexadecy,

How are you using Nginx as a proxy? Could you elaborate please?

Thanks

[2017-11-16 16:35] hexadecy commented on #60
- We use no sharding right now and it's direct localhost mongod
- Except in Qa / Prod we use docker-compose network
- Nginx is used only for the client, to mix Node.js and Go. They both talk to Mongo directly (localhost:27017).

The Go net.Conn implementation for Windows use "wsasend" and "wsarecv"
https://golang.org/src/net/fd_windows.go

But maybe they are not that thread safe:
http://www.server

[2017-11-16 18:06] domodwyer commented on #60
So it looks like it's probably a windows-specific issue - we're running tests against 3.4.x anyway just to eliminate it as a possible cause.

We're going to look into this - in the meantime I suggest vendoring 5be15cc6a44937b6937a9487e1633f8a5fb25e4a if you're using windows.

Dom

[2017-11-16 20:53] hexadecy commented on #60
Ok, it happens again on the same Win pc.
We will try c4a7121bd9f6f7246d9f54b78bdd2eb4d18b4c76 and mongo 3.4.10

From an old thread:
https://groups.google.com/forum/#!topic/golang-nuts/inm0Bu_FDk4

Socket unlock was always after as far as I know (2010)
[code]

[2017-11-17 11:10] domodwyer commented on #60
Hi @hexadecy (and @idy via https://github.com/go-mgo/mgo/issues/502)

I don't believe it's related to #52 - the methods are [documented](https://golang.org/pkg/net/#Conn) as being concurrency safe:

[code]

My suspicion is on go itself at this point - @weiishann will be running a test over the weekend to see if we can reproduce on Win10.

Dom

[2017-11-22 10:01] weiishann commented on #60
Hi @hexadecy

I have ran some tests with similar setup to yours using this tool [mpjbt](https://github.com/domodwyer/mpjbt) However, I could not reproduce your issue. Can you try and see if you can reproduce the same issue with the client running on a linux?

[2017-11-22 22:02] hexadecy commented on #60
Ok but [mpjbt](https://github.com/domodwyer/mpjbt) use
`conn := p.Session.Copy()`
In my case we use p.Session.Clone()

He can reproduce a timeout with a wifi connection and session.Clone():
https://github.com/go-mgo/mgo/pull/506

Ok I am running Ubuntu with https://github.com/globalsign/mgo/commit/5be15cc6a44937b6937a9487e1633f8a5fb25e4a  and Mongo 3.2.17 + Go 1.9.1

We cannot reproduce it so far

[2017-11-23 21:15] narinder-kaur opened #62 "Missing insertedId field in return when inserting new document"
Hi,
I am using version 3.4 of mongodb and its supporting db.collection.insertOne(), db.collection.inserMany()
As per requirement, I need to have the last insert id from the db. Mongodb is returning it but func (c *Collection) Insert(docs ...interface{}) error method is returning the error only, though I supposed to have the insertedId as well.

[2017-11-24 11:49] weiishann commented on #60
Hi @hexadecy,

It's a little difficult to determine the issue when we are changing multiple things between each tests. Could you do this instead? Please use Go 1.9.2 for all the tests below.

Commit      | Mongo Version | Platform | Trigger Errors (Y/N) |
------------ | ------------ | ------------ | ------------|
5be15cc| 3.2.17  | Windows 10 | (Y/N) |
c4a7121 | 3.2.17 | Ubuntu ? | (Y/N) |
5be15cc

[2017-11-24 12:10] domodwyer commented on #62
Hi @narinder-kaur

You're right, currently the driver does not support this - we would be more than happy to accept a PR for it!

Dom

[2017-11-24 12:10] #62 closed

[2017-11-24 15:17] hexadecy commented on #60
Sorry but it's pretty hard to reproduce.

5be15cc | 3.4.10 | Windows 10
-- | -- | --

I modified https://github.com/hexadecy/mpjbt to use Session.Clone() and tried with different workloads.
Last time we saw the issue, the workload was extremely light probably just 1 or 2 db calls, the REST client was an iPhone 7 ios11.

[2017-11-24 16:17] feliixx commented on #60
Hi @hexadecy

Have you tried to enable debug mode with `mgo.SetDebug(true)` and redirect the output to a logger ? If yes, could you post the logs when the error occurs?

[2017-11-25 16:40] asoorm opened #63 "How do you feel about setting maxBytes to uint64 rather than int?"
https://github.com/globalsign/mgo/blob/master/session.go#L2925

This way if we want capped collections, we don't have the restriction of deployment of this driver to a 64bit machine

[2017-11-27 12:00] domodwyer commented on #63
Hi @asoorm

Using an `int` where the correct type should be a `uint` is something that annoys me more than it should! However in the interests of backwards compatibility I'm of the opinion we should leave it as is.

Lets be clear - **I completely agree with you**, it's an obvious mistake in the original implementation, but changing it would mean users can't use our fork as a drop-in replacement fo

[2017-11-27 12:00] #63 closed

[2017-11-30 12:52] domodwyer commented on #60
Hi @hexadecy

We've been unable to reproduce the issue on our side and I'm not entirely sure under what conditions it occurs?

I'm going to close this ticket, if you're still having an issue feel free to reply with more info and we'll investigate.

Dom

[2017-11-30 12:52] #60 closed

[2017-12-01 19:58] bimalkharel opened #64 "Noob setup"
Hi,

I have been tasked with setting up and testing go against mongodb (I am a dba). I need to prepare the basics for a developer to get productive. Are there docs on how to build this or use it in a simple CRUD app written in go?

Thanks!

[2017-12-04 10:35] domodwyer commented on #64
Hi @bimalkharel!

We don't have any examples as part of this repo (yet, it's a good idea!) but there's always the [documentation](https://godoc.org/github.com/globalsign/mgo) - if you need actual code to have a look at there's some simple CRUD functions implemented [here](https://github.com/domodwyer/mpjbt/blob/master/mongo/db_opts.go). Connecting is easier than what's shown in that file as it pro

[2017-12-04 10:35] #64 closed

[2017-12-06 11:29] JordanP opened #66 "Question: is Find(...).Limit(1).One(...) equivalent to Find(...).One(...)"
Hi,
I tried to answer that question myself but I can't figure out the code exactly. Do you happen to know the answer ?

Thanks !

[2017-12-06 14:14] domodwyer commented on #66
Hi @JordanP

Yes it is the same - check https://github.com/globalsign/mgo/blob/master/session.go#L3391

Calling `One()` runs a `findCmd` with a limit of 1 the same as if you called `Limit(1)`:
[code]

[code]

[2017-12-06 14:14] #66 closed

[2017-12-06 15:32] JordanP commented on #66
Thank you !

[2017-12-07 19:12] bimalkharel commented on #64
Thanks!

[2017-12-12 14:20] domodwyer opened #67 "Handle OP_MSG requests exceeding MaxMessageSizeBytes"
**NOTE**: this issue is for an experimental feature, and does not affect the production driver.

----

The OP_MSG [specification](https://github.com/mongodb/specifications/blob/master/source/message/OP_MSG.rst#id1) states:

Currently the experimental support for OP_MSG (contributed by @feliixx - thanks!) does not gracefully handle a message exceeding `maxMessageSizeBytes` - in the future this limi

[2017-12-22 11:10] IAD opened #70 "New 3.6 features support"
we have new features like `change streams` and `lookup` in 3.6 https://docs.mongodb.com/manual/release-notes/3.6/
anybody plan to implement support?

[2017-12-22 11:29] IAD commented on #70
ok. see https://github.com/globalsign/mgo/pull/38

[2017-12-27 17:38] domodwyer commented on #70
Hi @IAD,

Yes we plan on adding 3.6 features as we go along, though it will be quicker with the help of others - see https://github.com/globalsign/mgo/pull/61 and https://github.com/globalsign/mgo/pull/68 by @feliixx and the ongoing #38 as you say.

We don't currently have any plans for `lookup` - we're always happy to get a good PR though!

Dom

[2017-12-27 17:38] #70 closed

[2017-12-27 22:44] h-marvin opened #71 "Result unmarshalling with commands (geospatial queries)"
Hi there.

I've been trying to make the `geoNear` command work for me using this mgo fork, but somehow I am not happy with it.

I am using the `db.Run(cmd, &r)` method for this purpose and the query is executing as expected. The problem is the result handling.

The result looks something like this:
`map[stats:map[maxDistance:0 time:426 nscanned:3 objectsLoaded:0] ok:1 operationTime:650435862837434

[2017-12-27 23:41] h-marvin commented on #71
Also, if wrapping the result would be the way go, any hint for how to properly do that?

[code]

This doesn't seem to be doing the trick. The returned slice has the proper length, but the `actualType` elements do not get properly populated.

[2017-12-29 01:14] sshipkov opened #72 "Socket locking during cluster synchronisation"
https://github.com/globalsign/mgo/blob/5be15cc6a44937b6937a9487e1633f8a5fb25e4a/socket.go#L552

`socket.Unlock()` must be before return, after `socket.conn.Write()`

[2017-12-29 13:03] sshipkov commented on #72
At a high load, every 30 seconds, when there is synchronization with the MongoDB cluster, many connections start to work longer than a second.
FailFast partially solves this problem.

[2017-12-29 13:07] domodwyer commented on #71
Hi @h-marvin

The original mgo driver doesn't provide any geospatial operation abstractions so talking to MongoDB directly is the only option.

I started to reply to this with an example of how you would go about performing a `geoNear` query and processing the results, but it wasn't much more work to turn it into an actual driver implementation - check out the [feature/geospatial-geoNear](https://

[2017-12-29 13:16] domodwyer commented on #72
Hi @sshipkov

This change was added by PR #52 to help mitigate a different issue - can you confirm it's definitely this change that causes your issue? As part of the release process we tested this change against a sharded, replicated MongoDB cluster but we didn't see anything unusual.

What exactly is happening? Can you reproduce the issue with [debug logging](https://godoc.org/github.com/globalsi

[2017-12-29 22:34] sshipkov commented on #72
![mongo](https://user-images.githubusercontent.com/18193742/34448746-7c94731c-ed01-11e7-8121-fb224295c373.png)
~ 3500rps read requests

[2017-12-29 22:49] sshipkov commented on #72
![network](https://user-images.githubusercontent.com/18193742/34448916-7aa8d05a-ed03-11e7-8ddb-ea3e4d3dc463.png)
smoother tx

[2017-12-29 22:51] sshipkov commented on #72
I'm sorry, I will not include debugging

[2017-12-30 00:22] domodwyer commented on #72
Hi @sshipkov

Thanks for taking the time to put together some annotated graphs, however they're not as helpful as you might think - they show something was working and then it isn't.

Anything between the application code through to OS, CPU load, network card, drivers, switches, network utilisation, etc could be causing what I assume is a throughput dropout (not latency drop as your graphs show, w

[2017-12-30 19:25] sshipkov commented on #72
- MongoDB 3.4.9 Community, WT, 1 replica
- 95% read, from cache
- 3mb, 88b
- 0, 0, ~10gb, lan
- debian, 2x physical machines (10 cores, 380 gb of RAM), lxc
- golang 1.9.2, gomaxproc 24, mgo Copy/Close, app in kubernetes cluster, 6 pods

Many measures have been taken before changing mgo driver.
Changes in the driver were made at night, the influence of other factors is minimal.
Now all requests are

[2018-01-02 18:14] h-marvin commented on #71
Hello @domodwyer. I've been busy the last days and haven't come along to trying what you proposed. I haven't forgot about you and want to thank you in advance. I will provide you with feedback once I came around having a look at it and trying it with my code.

[2018-01-03 00:21] domodwyer commented on #72
Hi @sshipkov

Sorry for the delay, but it's the new year holidays! ;)

I might have misunderstood your graphs above - is the left of `move socket.Unlock()` **with** #52 and the right **without** #52? Or the other way around?

Either way, I replicated your setup as close as I reasonably could, and I can see no latency regression from #52 - only a reduction in the latency variance (a good thing). No

[2018-01-03 00:21] #72 closed

[2018-01-04 11:12] domodwyer commented on #71
Awesome, no rush!

[2018-01-05 16:02] h-marvin commented on #71
Hi @domodwyer. I just tested the code and everything works as expected at first glance.  Thanks again for you work; much appreciated! I'll keep watching this issue to be notified once the code makes its way onto master 🎉

[2018-01-09 10:21] domodwyer commented on #71
Hi @h-marvin

That's great news, thanks for trying it out! I'm going to cut a release from development in the next week or so, after that I'll open a PR to development and we'll have a team discussion about the best way to move (partial) geospatial support into the driver.

Thanks!
Dom

[2018-01-09 10:22] #71 closed

[2018-01-09 11:09] sshipkov commented on #72
If you think that limiting the pool of connections is a bad idea, then I have nothing more to say.

[2018-01-13 10:46] pjebs opened #76 "Best practice"
I notice there is a `session, err := mgo.Dial(MONGODB_DIAL_URL)` function and also `Clone` and `Copy`.

If we are using MongoDB for a web app backend, I'm wondering what the best practice is out of these options.

1) Call Dial when we need to access database and close as soon as possible (usually with defer within same function).

2) Call Dial at start of request and close at end of request cycle

[2018-01-13 10:46] pjebs commented on #76
Can you please provide guidance (since you are the only authority in the matter) on how and when to use `clone` and `copy`.

[2018-01-13 10:47] pjebs commented on #76
See also:
https://groups.google.com/forum/#!topic/mgo-users/pk9IsU2bb8o
http://stackoverflow.com/questions/33275357/should-i-copy-session-for-each-operation-in-mgo

[2018-01-13 10:49] pjebs commented on #76
This is a copy of: https://github.com/go-mgo/mgo/issues/287 which the origianal author did not answer. It would be great if a higher power answered it because I noticed there are 100's of people asking the same question on forums and many are linking to my original issue.

Thank you for your time.

[2018-01-13 10:50] pjebs commented on #76
Does this package do connection pooling similar to `database/sql`?

[2018-01-13 16:35] Tri125 opened #77 "func (*Query) Count doesn't accept applySkipLimit parameter"
Ported issue from go-mgo/mgo.

According to the documentation of [mongodb 3.0](https://docs.mongodb.com/v3.0/reference/method/cursor.count/), cursor.count() accept a boolean parameter named "applySkipLimit".

By default, calling cursor.count() will ignore the effects of skip() and limit().
If applySkipLimit is set to true: cursor.count(1), it will consider the effect of skip() and limit().

In mgo

[2018-01-14 14:01] domodwyer commented on #77
Hi @Tri125

Thanks for bringing this up, you raise a good point!

Unfortunately changing the behaviour of `Count()` is definitely a breaking change and would mean we couldn't use this fork as a drop in replacement for the original mgo. It's far from ideal, but I think at this point it's best to keep it as is. If you want to update the documentation to clarify the behaviour we'll happily accept a P

[2018-01-14 14:01] #77 closed

[2018-01-14 14:18] domodwyer commented on #76
Hi @pjebs

You're not the first to ask this! I'd suggest using `session.Copy()` to automatically open a new socket to the Mongo server if needed, or reuse an existing socket if available. This means your application will "warm up" to the number of connections needed for the load in the first few minutes of operation.

You could use `Clone()` which uses the same underlying socket, but past a certai

[2018-01-14 20:18] pjebs commented on #76
thank you.

[2018-01-15 21:40] #76 closed

[2018-01-16 08:17] zengxss opened #80 "Why the latest release name is r2017.01.15"
Maybe it should be `r2018.01.15`

[2018-01-16 10:14] domodwyer commented on #80
Hi @zengxss

Thanks for spotting that! That's definitely my Monday morning mistake - my colleagues have found it very amusing.

I've left the old tag so users who pinned that revision in the last 24h can continue to use it, but updated the release and added the correct tag.

See you next year,
Dom

[2018-01-16 10:14] #80 closed

[2018-01-19 15:18] TeoV opened #82 "Storing time.Duration as nanoseconds"
Hi, we use in our application time.Duration with nanoseconds value and have noticed that using your driver it will round them to milliseconds. Is there any chance to store nanoseconds as well?

Thanks,
TeoV

[2018-01-19 17:47] phacops opened #83 "Watch a Change Stream"
I believe there's no way right now to watch a change stream with mgo. It would be great if this feature could be added.

I noticed a branch with some work started on this. I'm bringing it up-to-date with master and will start testing with that.

https://docs.mongodb.com/manual/changeStreams

[2018-01-19 21:22] lrstanley commented on #82
The bson spec defines datetime specifications as milliseconds. Even though duration doesn't necessarily equate to a datetime representation, it may be good for mgo to utilize the same datatype (int64). One thing you could do is wrap your time.Duration in a different type which supports custom BSON marshaling/unmarshaling.

Though others may have different opinions, I personally feel that `time.Dur

[2018-01-20 12:59] domodwyer commented on #83
Hi @phacops,

You're right, the work-in-progresss https://github.com/globalsign/mgo/pull/38 is the only changeStream support currently - it would be fantastic if you could bring it up to speed!

Let me know if there's anything I can do to help you.

Dom

[2018-01-20 13:12] domodwyer commented on #82
Hi @TeoV,

@lrstanley's fantastic explanation is right - ideally it should be as precise as possible (especially as we're throwing away precision in this case!) but the original mgo code uses milliseconds so it would be a breaking change, not necessarily for mgo users, but it would definitely break any consumers of the stored data using a different language/driver.

You could experiment with wrapp

[2018-01-20 13:12] #82 closed

[2018-01-23 15:59] rogpeppe opened #84 "how to get tests to pass?"
If I run the tests (after successfully running make startdb), I consistently get cluster_test failures.

Is there anything I can do to make tests pass?
(running this against MongoDB 3.6.2)

	----------------------------------------------------------------------
	FAIL: cluster_test.go:527: S.TestModeMonotonicFallover

	cluster_test.go:556:
	    c.Assert(err, Equals, io.EOF)
	... obtained = nil
	...

[2018-01-23 18:22] domodwyer commented on #84
Hi @rogpeppe,

I can't even get the tests to run locally (macOS) - the test harness is a bit of a nightmare, and on top of that tests randomly fail.

Personally I unit test my code changes (mocking out Mongo) where possible and then write integration tests that run on travis when I push the feature branch - these also randomly fail all the time and have to be restarted...

The existing test setup

[2018-01-23 18:22] #84 closed

[2018-01-24 18:47] dharnnie opened #86 "Migrating from go-mgo"
Hi,

Please is there a documentation for this on godoc?

Does this project build on top of go-mgo by Gustavo Niemier?

[2018-01-25 10:10] domodwyer commented on #86
Hi @dharnnie

The godoc page is [here](https://godoc.org/github.com/globalsign/mgo) and this package is fully backwards compatible with go-mgo - you should just be able to change the imports and be good to go!

Good luck!
Dom

[2018-01-25 10:10] #86 closed

[2018-01-25 10:10] domodwyer commented on #83
Hi @phacops

I'm going to close this issue but please do feel free to open a PR!

Dom

[2018-01-25 10:10] #83 closed

[2018-01-28 07:15] steve-gray opened #88 "Fallback to JSON Struct Tags"
One small bugbear I've had for a long time with MGO is that unlike Mapstructure you can't set the TagName to use on structures. The general use-case here is letting structures be decorated with json annotations, and then having both mapstructure, mgo and pretty much anything else all work off the same tags - so I don't have:

[code]

I've put an option in a fork of the code that enables this by ad

[2018-01-28 21:13] domodwyer commented on #88
Hi @steve-gray

I fully understand the use case here - a lot of applications using mgo/MongoDB also expose data via JSON, and I bet there's been more than a few lost hours to typos between the `bson` and `json` tags! Totally happy to accept this as a PR.

My only comments would be to defer performing the JSON tag search till after determining there's no BSON tag (avoids searching for an unused JSO

[2018-01-28 22:20] pauln opened #90 "Use semver for releases"
Now that [go-mgo/mgo is unmaintained](https://github.com/go-mgo/mgo/blob/v2-unstable/README.md) and pointing to this fork as a suggested alternative, perhaps it's time to start using semantic versioning (with a suitable starting version to avoid collisions with go-mgo/mgo).  Semver should help ease the migration from go-mgo/mgo for those migrating over due to the cessation of maintenance.

[2018-01-30 07:25] orange-jacky opened #92 "can't add a meta filed and sort by score in textsearch"
hi,anyone
how to use textsearch with mgo,  in my case,  i need to find two bson.M other one bson.M, insert a new filed score, and sort by score filed, i try it,  the mgo and globalsign/mgo not support my case.
how to fix it ?

db.stores.find(
   { $text: { $search: "coffee shop cake" } },
   { score: { $meta: "textScore" } }
).sort( { score: { $meta: "textScore" } } )

my mongo version is 3.4
http

[2018-01-30 16:50] #90 closed

[2018-01-30 16:51] domodwyer commented on #88
Closing as #91 will fix imminently.

[2018-01-30 16:51] #88 closed

[2018-01-30 17:04] weiishann commented on #92
Hi,

I'm not sure what you are asking for. If you are trying to convert the MongoDB queries above to mgo, you need something like this is the command.

stores.Find(bson.M{"$text": {"$search": "coffee shop cake"} }).Select(bson.M{"score": bson.M{"$meta": "textScore"}}).Sort("$textScore:score")

Hope this helps.

[2018-01-31 10:10] orange-jacky commented on #92
thanks, it's what i need

[2018-02-01 10:13] ganigeorgiev opened #93 "Pipe (aggregate) options"
Is there a way to define [aggreate options](https://docs.mongodb.com/manual/reference/method/db.collection.aggregate/) (and more precisely **collation**) by using `.Pipe()`? Currently only `AllowDisk` seems to be available.

[2018-02-01 20:49] djensen47 opened #94 "Documentation?"
Now that this repo is the new source of truth for mgo development, Will there be a dedicated site for non-godoc documentation? Something like http://labix.org/mgo but up to date with this repo?

Thanks for all the great work and continuing development on this library!

[2018-02-03 22:11] kevinguard opened #95 "Consider publishing through gopkg.in?"
Is there any reason why we haven't published this through `gopkg.in`? I'd make all API and documentations gathered in just one place while letting Gopkg manifests cleaner and less verbos.

[2018-02-06 16:27] akhettar opened #96 "Embedded Mongo for Integration tests"
Hi
I am a new to GO and its ecosystem. I was wondering if there is a way to run an embedded Mongo for integration test. I am aware of the **globalsign/mgo/dbtest**. I have configured an init_test.go to run the server prior to running my integration test. Unfortunately, the Mongo server that gets started by the **dbserver.go** runs on a random port and there is no way to communicate that port into

[2018-02-07 10:07] akhettar commented on #96
Hi
I have found the following post which answers my above question: https://medium.com/@mvmaasakkers/writing-integration-tests-with-mongodb-support-231580a566cd. I had to install **gopkg.in/tomb.v2** which this project doesn't seem to have it as a dependency.

Regards

Ayache

[2018-02-07 11:20] domodwyer commented on #93
Hi @ganigeorgiev

I believe the `Pipe()` method supports all aggregations I know of - at least the [documentation](https://godoc.org/github.com/globalsign/mgo#Collection.Pipe) seems to suggest as much?

If you have any problems post back here and we'll look into it - perhaps include an example of the MongoDB query you're trying to run.

Dom

[2018-02-07 11:20] #93 closed

[2018-02-07 11:22] domodwyer commented on #94
Hi @djensen47 - really sorry about the lack of a reply, I've been away at a conference for the last few days.

There's currently no plans for an accompanying site, it will add maintenance cost - personally I never looked at it! Is there something specific you used to rely on the labix site for? Perhaps we can find a way to work it in.

Dom

[2018-02-07 11:27] domodwyer commented on #95
Hi @kevinguard

I'm weary of using `gopkg.in` - it's maintained by the original mgo author and the mgo project was abandoned for a long time - I'd hate to see the same happen to `gopkg.in` and I'm not suggesting it will happen, but it's a risk for little reward.

The documentation is linked to from the README and we tag all releases to allow users to pin dependencies with a readable name. Is there

[2018-02-07 11:27] #95 closed

[2018-02-07 11:34] domodwyer commented on #96
Hi @akhettar

I didn't actually know about the trick in that article, thanks!

We took a slightly different approach: we run integration tests by setting an environment variable defining the hostname (`MONGO_TEST_HOST="mongo://something"`) and use a randomised database name prefix (`MONGO_TEST_DB="<build number>"`) to avoid collisions with concurrent builds.

Either way, hope you're sorted!

Dom

[2018-02-07 11:34] #96 closed

[2018-02-07 11:59] ganigeorgiev commented on #93
@domodwyer This is only the pipeline argument. What I mean was options like "explain", "maxTimeMS", "bypassDocumentValidation", "collation", etc (check the second argument of [mongo aggregate](https://docs.mongodb.com/manual/reference/method/db.collection.aggregate/)).

[2018-02-07 12:06] domodwyer commented on #93
Ah sorry, I see what you mean now.

We don't use aggregations so I'm not too familiar with it but it looks like you're right - there's no obvious way to configure the timeout, etc. If you wind up adding this functionality, please do open a PR!

Dom

[2018-02-07 12:07] peterdeka commented on #93
Yep this should also address some options for the `ChangeStreams` (`MaxAwaitTimeMS` and `Collation`)

[2018-02-07 13:01] niemeyer commented on #95
@domodwyer Please don't extrapolate my lack of time to make changes in mgo into a strange territory. The mgo code never stopped working. In fact, it was good enough that you decided to use it, I think?

You are welcome.

[2018-02-07 13:21] domodwyer commented on #95
@niemeyer I'm not having a dig - we're all very grateful for the time and effort that has gone into both mgo and gopkg.in - my comment was simply explaining there's little benefit for the added risk of relying on a 3rd party, regardless of whom that is.

Dom

[2018-02-07 13:26] niemeyer commented on #95
No that was not your point, actually. There's a a direct reference to me personally.

You're welcome, Dom.

[2018-02-09 01:24] dambrisco opened #98 "Add support for encoding/decoding strings as ObjectIds"
Currently, there's a rather unfortunate side effect of using this library in that you have to go pretty aggressively out of your way to use string-based IDs (especially in the case of microservices leveraging different DBs but using the same model library). One step toward improved support has been implemented in a PR against the originating fork: https://github.com/go-mgo/mgo/pull/492

Yet more p

[2018-02-09 08:06] cyberhck commented on #94
I believe we should have some documentation on readme, godoc etc. use cases, and stuffs. Right now this looks so empty.

[2018-02-09 15:06] chneau opened #99 ".Select and struct of data"
Hello !

I'm not sure if it's a normal behaviour, something to be aware of or a potential improvement.

Context:
I'm working with AIS data (positions of vessels delimited by time/area), so basically, on my database the document is about 20 fields (a mix of strings, integers and floats).
On my go project (doing stats for vessels) I do a request to get the a list of position/time for a vessel. What

[2018-02-09 18:10] djensen47 commented on #94
It was useful for setup and usually a docs page is more straightforward than a giant godoc page. Honestly, documentation is a necessity of maintaining any open source project. It doesn't _have_ to be a separate site you at least a README and a godoc.

[2018-02-12 02:17] changwoo-nam opened #101 "Connection to the mongo server is periodically reconnected"
## description

The isMaster request fails in `syncServersIteration()`, which is repeatedly executed, and disconnects from the existing mongodb server and repeats the connection again.

This causes user requests to mongodb to be periodically delayed.

It seems to occur when an isMaster request is made through a pooled mongodb connection.

* mgo debug log
[code]

* related mongodb changes
  * Only

[2018-02-12 11:32] domodwyer commented on #101
Hi @changwoo-nam

This is a _great_ bug report - thanks for including all the info needed to diagnose and fix this. I'll have a look at this as soon as I can free up a bit of time.

Dom

[2018-02-12 12:00] domodwyer commented on #99
Hi @chneau

Thanks for the detailed report!

You raise a good point about using structs with a subset of the document fields. This is because MGO is not an ORM - it does not attempt to provide any mapping beyond getting the query results out. No matter what struct you feed mgo it basically does the equivalent of a `SELECT *` in the background and it's left to the caller to specify the query behavi

[2018-02-12 12:00] #99 closed

[2018-02-12 12:04] domodwyer commented on #98
Hi @dambrisco

It's not something we've come up against but I can definitely see the use case!

I like the tag idea (more than previous suggestions of simply changing an ObjectID to be a string) but how would you handle edge cases like a struct with multiple "this is an ObjectID" tags applied? Typically compile-time errors are preferred but mgo does provide runtime errors for other cases so it mig

[2018-02-12 12:11] domodwyer commented on #94
I can see your point! Saying that, as an open source project we'll happily look at PRs improving the docs 👍

We've added a couple of [code examples](https://godoc.org/github.com/globalsign/mgo#pkg-examples) on the GoDoc page but it could definitely be expanded - it's preferred to use GoDoc as it's checked within the test suite - if a PR would cause the example code to become out of sync with the e

[2018-02-12 12:11] #94 closed

[2018-02-12 12:50] domodwyer opened #102 "Resync development & master branches"
In an attempt to prevent the [ridiculous diffs](https://github.com/globalsign/mgo/pull/79) on GitHub a new `development` branch has been cut from the current `master` head (896bbb89d21253a28cd5a7f8b81fe091410cb94d).

The old development branch is preserved as `old-development` for the time being to allow anyone who had pinned to a commit to use it, and the existing changes from master have been ch

[2018-02-12 12:50] #102 closed

[2018-02-12 18:03] dambrisco commented on #98
@domodwyer I believe multiple ObjectID tags would be admissible. As I imagine it, it functions only as a marshaling hint. Simply calling the tag `"objectid"` would be my first choice - it seems clear and concise enough to prevent confusion. So in the case of a declaration like ``Field string `bson:"keyname,objectid"` `` or ``Field string "keyname,omitempty,objectid"``, we simply have another step

[2018-02-12 19:58] qhenkart opened #103 "Reconnection Loop when using globalsign"
I do not think this is a duplicate of https://github.com/globalsign/mgo/issues/101 ,

we are running mongodb v3.4.10, and connections to the database seem to be completely unstable using the globalsign driver.

I created an ultra simple go app to showcase the issue:

[code]

when using the labix/mgo driver, there is no issue holding a connection, however when using globalsign/mgo, the connection l

[2018-02-13 01:04] jyoon17 commented on #103
Actually it is a duplicate of #101. According to your mongodb log, connections are reset every 30 seconds.

https://github.com/globalsign/mgo/blob/896bbb89d21253a28cd5a7f8b81fe091410cb94d/cluster.go#L409
https://github.com/globalsign/mgo/blob/896bbb89d21253a28cd5a7f8b81fe091410cb94d/cluster.go#L409

The drive tries to sync server info by calling `isMaster` every 30 seconds and it will reset all th

[2018-02-13 06:52] canthefason commented on #101
I've addressed this problem.
https://github.com/globalsign/mgo/blob/896bbb89d21253a28cd5a7f8b81fe091410cb94d/cluster.go#L160
for mongodb versions 3.4 or later, this returns `The client metadata document may only be sent in the first isMaster` error for the synchronization requests. So we need a control mechanism that only sends the metadata only for the very first isMaster request.

To test this o

[2018-02-13 10:37] domodwyer commented on #103
Hi all,

@jyoon17 is right, the sync causes the `isMaster` command to be sent again and [the spec](https://github.com/mongodb/specifications/blob/master/source/mongodb-handshake/handshake.rst#connection-handshake) specifies:

[code]

I've confirmed the issue locally and will push a fix in the next hour - sorry for the issue in the first place, our testing setup didn't catch this as it doesn't supp

[2018-02-13 10:38] #103 closed

[2018-02-13 10:39] domodwyer commented on #101
Hi all,

@jyoon17 is [right](https://github.com/globalsign/mgo/issues/103#issuecomment-365116600), the periodic cluster sync causes the `isMaster` command to be sent again and [the spec](https://github.com/mongodb/specifications/blob/master/source/mongodb-handshake/handshake.rst#connection-handshake) specifies:

[code]

I've confirmed the issue locally and will push a fix in the next hour - sorry

[2018-02-13 11:21] #101 closed

[2018-02-14 10:35] dharesh007 opened #106 "Add support for ArrayFilters"

[2018-02-14 14:24] domodwyer commented on #98
I like the `objectid` tag! It's clean and clear.

I hadn't thought about the int case though - you raise a good point. If the user tags it as an `objectid` I think it would be best to respect it and marshal it as a `ObjectID`? If an incompatible type (`bool`, etc as you say) is tagged with `objectid` I would prefer the marshal call to return an error over silently ignoring - always better to have

[2018-02-14 14:24] domodwyer commented on #106
Hi @dharesh007

We'll happily accept a PR for this.

Dom

[2018-02-14 14:24] #106 closed

[2018-02-16 18:06] SteelPhase opened #107 "Add support for JSON Marshalling bson.Raw"
The default behavior when JSON marshalling a `bson.Raw` field doesn't print the data represented by the `bson.Raw` field cleanly. Can a `MarshalJSON` method be added to `bson.Raw` which would allow the JSON marshaller to cleanly print a value in bson.Raw?

Current:
[code]

Suggested:
[code]

Example MarshalJSON:
[code]

[2018-02-17 08:39] steve-gray commented on #88
@domodwyer - Any timeline on merge to mainline? I'm looking to leverage this functionality and I'm struggling with having type incompatibility between code that references my custom fork and 3rd party code that references the globalsign instance on a project.

[2018-02-17 17:48] diegobernardes opened #109 "Add support to context"
It should be nice to have context support. This is a long time requested feature on mgo.

[2018-02-17 19:15] kevinguard commented on #95
@domodwyer Appreciate your comment and thoughts. Totally agree! Thanks for keeping this repo great! Cheers!

[2018-02-18 18:50] domodwyer commented on #88
Hi @steve-gray

Really sorry about the delay - the infrastructure I use to test mgo was in use for other things - I'll try and arrange to cut a release tomorrow.

Dom

[2018-02-19 23:07] benweissmann opened #112 "Support DNS seedlist / `mongodb+srv://`"
Mongo 3.6 adds support for using DNS `SRV` records to configure the initial set of ReplicaSet members instead of providing them in the connection string itself. See: https://docs.mongodb.com/manual/reference/connection-string/#dns-seedlist-connection-format and https://github.com/mongodb/specifications/blob/master/source/initial-dns-seedlist-discovery/initial-dns-seedlist-discovery.rst

It would b

[2018-02-20 10:09] domodwyer commented on #109
Hi @diegobernardes

I fully agree, it would be great! It would take a huge rewrite of mgo and would be unlikely to be backwards compatible so it's not on the list at the moment - saying that, we're happy to accept a PR! There might be a few functions where it makes sense as a big gain initial effort, stuff like the bulk processing operations, etc.

Something to think about, thanks!
Dom

[2018-02-20 10:09] #109 closed

[2018-02-20 10:13] domodwyer commented on #112
Hi @benweissmann

This sounds like a cool addition and should be relatively easy! We don't have a 3.6 testing environment built up yet but it's in the works, I'll leave this ticket open in the meantime.

Saying that, we'll happily accept a PR for this!

Dom

[2018-02-20 10:18] domodwyer commented on #107
Hi @SteelPhase

See the comments on the PR - totally up for this addition. I'm going to close this ticket given #108 should land pretty soon.

Thanks!
Dom

[2018-02-20 10:18] #107 closed

[2018-02-21 07:58] dennypenta opened #113 "Documentation improvement and mgo v2 compatibility"
If you have docs for the project I can add to the github main page and write some description.
I first time see this repo, so what about compatibility with mgov2? Did it save?

[2018-02-22 18:03] domodwyer commented on #113
Hi @dennypenta

The compatibility is maintained yes - this fork is a drop-in replacement of the original mgo. The docs can be found [on GoDoc](https://godoc.org/github.com/globalsign/mgo).

Thanks!
Dom

[2018-02-22 18:03] #113 closed

[2018-02-22 19:38] dalu commented on #98
Do you ever store an actual bson.ObjectId as reference value?
The mongodb docs state that the recommended way to store references to ObjectId is a string.
If you know it's a string you do bson.ObjectIdHex(stringid) when querying for relation, imho this is a non-issue and personally I don't see the benefit of an additional tag that needs to be parsed.

[2018-02-27 03:47] xkeyideal opened #114 "already full support mongo v3.6 features?"

[2018-02-28 13:42] nim-nim opened #117 "Panic in dbtest"
While running unit tests with go 1.9.4 on x86_64 for release 2018.02.20

[code]

A unit test should always just work with go test and report sensible results

[2018-03-01 06:03] dennypenta commented on #117
It looks like you didn't initialize a mgo.Session.

[2018-03-01 07:22] dennypenta opened #118 "Add interfaces for main queries structures"
Usually, for unit tests in my projects, I add interface for the Collection and Query structures.

What if we will try to add that interfaces exactly in the driver?
I can implement it.

Additionally, I can implement mocks, because that structures will large.
It would be helpful for a testing not data access layer, controllers for example.

[2018-03-01 08:36] nim-nim commented on #117
I just executed the unit test

Unit tests are supposed to be autonomous

[2018-03-01 17:44] domodwyer commented on #114
Hi @xkeyideal

Currently the only 3.6 feature is the `$changeStream` support - we'll happily accept PRs though!

Dom

[2018-03-01 17:44] #114 closed

[2018-03-01 22:59] szank commented on #118
This have been already considered, and might break backwards compatibility, which we want to avoid.
If someone is derererencing the  Collection or Query pointers for whatever reason, their code won't compile if you switch the mgo return values to interfaces.

One way to do it is to create a copy of the whole API that uses interfaces, and maintain it alongside the current one. Alas, this is not mai

[2018-03-05 16:38] domodwyer commented on #118
Hi @dennypenta

Because of the "builder pattern" of having a method returning it's own concrete type I don't think all methods can be mocked without changing the `Query` type itself like @szank says.

I'm of the opinion that clients should implement a small interface defining the methods they use rather than use a big one with all the methods available - keeping interface scope small and local to

[2018-03-05 16:38] #118 closed

[2018-03-05 16:59] tadukurow commented on #117
These are integration tests, which means they will use mongodb installed on the system.

The exec.Cmd, invoking mongod, fails and wraps the error it gets in a panic.
That panic is caught in a panic handler, which tries to stop the unstarted DB which causes the nil dereference panic.
Ugly for sure, but it does not look like broken tests.

Initial exec.Cmd failing is at:
[code]

This is most likely

[2018-03-06 08:55] dvic opened #120 "test killed after 10min on travis with docker mongo"
Hi,

Every once in a while our mongo suite gets killed on TravicCI. We run go 1.10 and use docker for our test suites. Our Postgres and Neo4j test suites run just fine with this setup but with mgo and Mongo we're having these issues.

Stacktrace information can be found below. Any idea why this is happening?

[code]

[2018-03-06 09:26] dvic commented on #120
Could it be a problem with the `-race` flag? We removed the `-race` flag and up to this point the tests have stopped failing.

[2018-03-09 03:07] KJTsanaktsidis commented on #120
I got a similar (but not identical) deadlock & backtrace when running `TestConnectCloseConcurrency`. I think the main source of this problem are these two stacks:

[code]

and

[code]

As near as I can tell....
    * Goroutine 11 has the `syncServersLoop`, which loops every few hundred ms and checks the topology of the cluster.
    * `syncServersLoop` calls `syncServersIteration` to do its actual

[2018-03-09 15:43] domodwyer commented on #120
Hi @dvic and @KJTsanaktsidis

First off - $dvic thanks for the solid report, and @KJTsanaktsidis thanks for diving deeper into mgo than is good for your sanity!

We'll take a look at this - we've never seen any deadlocks ourselves but the possibility is definitely there - there's an amazing amount of interplay with the locks (as @KJTsanaktsidis can clearly attest!) Do either of you have any reprod

[2018-03-09 15:45] domodwyer commented on #117
Hi @nim-nim

I'm going to close this because it sounds like @tadukurow has found the issue - feel free to reply if there's still something else happening though.

Dom

[2018-03-09 15:45] #117 closed

[2018-03-10 04:43] KJTsanaktsidis commented on #120
I’ll have a look and see if I can find a solid reproduction next week - maybe a “mongo” server that accepts then closes all connections might trigger this code path?

[2018-03-10 08:03] KJTsanaktsidis commented on #120
@domodwyer I think I've managed to provide a repro in https://github.com/globalsign/mgo/pull/121 - the test in the first commit fails about 20% of the time when i run it with `go test -check.v -check.f "S.TestNoDeadlockOnClose" -timeout 25s` on my machine.

[2018-03-10 20:36] jtbonhomme commented on #117
Hi @domodwyer !
Just to be sure (excuse me if this is a dumb question), using dbtest for integration tests actually requires mongdb database server running ?
I can't see the objective of this package dbtest if it can not fake a mongo server ...

Thank you,
JT

[2018-03-10 21:02] nim-nim commented on #117
I had figured it needed mongod in the path, and as you noted this is not sufficient

As running mongod is a privileged operation on my system, I can't see how I could possibly run this test.

[2018-03-12 11:40] tadukurow commented on #117
@nim-nim, the dbtest package is used for creating integration tests in other test suites.
If you're unable to run mongod to execute dbtest, best to skip them as they will always need to execute local mongo for them to be meaningful.

@jtbonhomme, executing locally works for me, so it's probably some environment issue. I did find a test assertion error which is fixed in #122.
I've also updated the

[2018-03-12 12:07] domodwyer commented on #120
Hi @dvic

We're going to merge #121 into development ASAP (thanks to @KJTsanaktsidis !) and cut a hotfix to master once it's tested. In the meantime would you be able to run your tests using the development mgo branch to check if it resolves this issue?

Dom

[2018-03-12 12:22] dvic commented on #120
Hi @domodwyer, sure no problem. Thanks! Will try it now and get back to you.

[2018-03-12 12:29] domodwyer commented on #120
Hey @dvic

It's not merged just yet - I'll post here when it's done 👍

Dom

[2018-03-12 12:31] dvic commented on #120
No problem, I now just checked out https://github.com/zendesk/mgo/tree/fix_dial_deadlock, TravisCI is running.. 🤞

[2018-03-12 12:50] dvic commented on #120
Good news: I ran the test suite three times now, each passed without problems 👍 I'll keep them running just to be sure and I can also run it a few times on the dev branch once you're ready.

[2018-03-12 12:55] dvic commented on #120
@domodwyer Tests keep passing, #121 definitely seems to solve the problem (for me at least). Let me know if you want me to perform additional test runs on the dev branch.

[2018-03-12 13:00] domodwyer commented on #120
This is great news - thanks @dvic for reporting and @KJTsanaktsidis for such a comprehensive analysis and fix! Open source communities are alive and well! 👍

I will close this after the hotfix - **thanks** a lot!

Dom

[2018-03-12 14:41] nim-nim commented on #117
Thank you, a clearer test failure certainly help (though the test should PASS when its prerequisites can't be set up)

[2018-03-12 17:40] Sata51 opened #123 ".One() return .All() error"
I'm running through this error after updating my codebase import from
`"gopkg.in/mgo.v2/bson"` to  `"github.com/globalsign/mgo/bson"`.

The next func trigger as result an error/panic:
`result argument must be a slice address`

[code]

After a simple rollback, my code run well with the `"gopkg.in/mgo.v2/bson"` import
I've updated the mgo library at the tag `r2018.02.20`

For debug purpose, here is

[2018-03-12 21:53] KJTsanaktsidis commented on #120
Really happy to help - having this library be actively maintained helps everyone!

[2018-03-13 08:28] Sata51 commented on #123
I've found the bug origin, it was a misleading in my code, the error is returned by my `User.SetBSON` implementation.

[2018-03-13 08:28] #123 closed

[2018-03-17 00:19] cyberhck opened #124 "dbtest without mongod"
So I use docker for mongo but I still build and run go in host machine, is there a way to do testing without actually installing mongod?

[2018-03-17 20:09] dotapetro opened #125 "Only one usage of each socket address (protocol/network address/port) is normally permitted."
Hi, I am trying to implement authboss example using mgo
for example
storer > MemStorer.Create translates into

 func (um UserManager) Create(id string, attr authboss.Attributes) error {
	dbsession := um.Db.Copy()
	defer dbsession.Close()

	var user User
	if err := attr.Bind(&user, true); err != nil {
		return err
	}

	user.ID = bson.NewObjectId()

	if err := dbsession.DB("tasksapp").C("users").Ins

[2018-03-17 20:25] #125 closed

[2018-03-17 20:30] dotapetro commented on #125
Sorry for being dumb, there was another program listening that port hidden somewhere

[2018-03-18 07:15] fancyecommerce opened #126 "where is mgo doc file？"
where is  mgo doc file？

how can  i use mgo?

[2018-03-18 20:09] spectralsun commented on #126
+1 where are the docs?

[2018-03-20 17:15] okabbas commented on #126
+1 Please give me the documentation I also need.

[2018-03-21 10:02] szank commented on #126
Hi,
The mgo documentation can be found on godoc: https://godoc.org/github.com/globalsign/mgo,
as usual for the go packages.

[2018-03-21 10:02] #126 closed

[2018-03-23 08:51] szank commented on #124
Hi,
Sorry for the late reply.
Currently, mgo doesn't support such scenario.

It shouldn't be too hard to create a `DBServer` interface and switch concrete implementations based on flags parsed from TestMain().
PRs are most welcome!
I am closing the issue, now, but we would be happy to review any PRs adding support for this. Or Atlas ;).

[2018-03-23 08:52] #124 closed

[2018-03-26 02:17] kassiansun opened #131 "Add switch for `omitempty` tag"
Currently we have bson.SetJSONTagFallback to fallback to json tag when no bson tag available, which is pretty useful when using protobuf with mgo, leave generated *.pb.go untouched and get a consistent field name between json & bson.

With the default omitempty tag generated by protobuf, updated struct fields with empty values will not be encoded, leave the database untouched. Adding a switch for

[2018-03-26 07:50] domodwyer commented on #120
Hi @dvic, @KJTsanaktsidis

Sorry for disappearing, I was out the country! It looks like this has been fixed (thanks!) but with a direct push to development so this didn't close (I'll also find out how that happened - it should be PR only) so closing now.

I will cut a hotfix release after a test run - thanks again!

Dom

[2018-03-26 07:50] #120 closed

[2018-03-26 07:51] domodwyer commented on #131
Hi @kassiansun!

I'm not familiar with your use case (storing protobuf generated structures) - do you have a code example that shows the issue? Sounds like it might be a good idea though.

Dom

[2018-03-26 09:44] kassiansun commented on #131
`protobuf` generate structs with `omitempty` [set by default](https://github.com/kassiansun/turbo/blob/master/pb/sso.pb.go#L36), this is hard-coded into protobuf's golang implementation.

When used with `bson.SetJSONTagFallback(true)`, if we pass the struct directly to `mgo.Insert`, it will insert a empty record with only `_id` field. Even worse with `mgo.Update`, which we will not be able to upda

[2018-03-26 14:43] yudao opened #132 "Wrong type of socket"
Hi,

I have a program which take some sources (XML, CSV, JSON, ...), parse them and save the formatted format into a mongodb.

Until now, all files was stored without errors.

Unfortunately, today a new source file has been treated (100%) but can't be store due to this error:
[code]

Do you know what are the possible tracks that can cause this socket error?

Thx a lot.

Yu.

[2018-03-26 14:48] szank commented on #132
Hi @yudao

I had a quick google, and it doesn't seem like a mgo error to me. Are you using BSD-is system by any chance? (Including osx)

There are other reports of this error. What go version are you using?

I'd like to help, but I need more details. It is possible that you might need to raise an issue with go.
Does it happen often/every time/only once?

[2018-03-26 14:52] yudao commented on #132
Hi @szank,

Thx for your quick help.
Yes I'm **using macOS High Sierra (17D102)**.
My go version **go1.10 darwin/amd64**

Do you think that the size of the must be the problem?

Yu.

[2018-03-26 16:44] szank commented on #132
I don't really think so.
You could fire up wireshark and check what is going on the wire though. My best guess it that no data is sent.

I am going to close this issue, as I don't think I can help much. Please try opening an issue in the go's bug tracker, they might be able to help you. This really doesn't look like an error in mgo code, more like the net package or the osx.

If you can reproduce

[2018-03-26 16:44] #132 closed

[2018-03-29 07:20] kassiansun commented on #131
@domodwyer The patch above is wrong, there is the correct version: https://github.com/kassiansun/turbo/commit/d9db8306069454f2354fa2882105525ab7f4640b

[2018-03-30 14:11] imcnhero opened #133 "go get 命令的地址是多少？"
在mongodb官网看到推荐了这的项目，请问这个项目的go get 命令的地址是多少？

[2018-03-30 14:15] #133 closed

[2018-04-02 08:43] leopoldfreeman opened #134 "Blocked in function cluster.AcquireSocket"
When mongodb is offline, the client will be blocked in the function cluster.AcquireSocket. Can you add a timeout for this situation? For example, if the client cannot get a live socket in 5s, it will return an error. Thank you.

To reproduce the problem:
1. Compile the following program.
2. Run the program
3. Login to your DB server, and execute the following commands, please replace $CLIENT_IP wi

[2018-04-02 11:16] kirik opened #135 "Data race for socket"
Hello! I got race condition randomly. Here is stack:
[code]
I can't reproduce it. But I believe, that we need to Lock mutex for `s.masterSocket` on `/.../globalsign/mgo/session.go:4822` before read `dead` property. Am I right?

Му OS is Ubuntu 16.04 and GO version is 1.9.2 linux/amd64.

Thank you in advance!

[2018-04-02 16:26] #67 closed

[2018-04-02 16:31] domodwyer commented on #135
Hi @kirik

This is a bit weird - what commit are you using?

On the latest release (master / baa28fcb8e7d5dfab92026c0920cb6c9ae72faa2 / `r2018.02.20`) I see a read lock being taken on `session.go:4813` (a few lines above the reported read) and an exclusive lock being taken on the write too (`socket.go:344`).

Dom

[2018-04-02 16:38] domodwyer commented on #134
Hi @leopoldfreeman

I think this is probably related to #120 - there's a [hotfix](https://github.com/globalsign/mgo/pull/136) pending but it's a public holiday in England, so my colleagues probably won't see it until everyone is back.

I'll close this as I think it should be resolved pretty soon but if it's not, please do reply and I'll reopen.

Dom

[2018-04-02 16:38] #134 closed

[2018-04-02 16:45] domodwyer commented on #131
Hi @kassiansun

I'm a little worried it would be counterintuitive and go against the expected behaviour for most users.

https://github.com/grpc/grpc-go/issues/481 seems to be about roughly the same thing, @proteneer seemed to have some success by wrapping the PB types. Perhaps wrapping your `pb.Msg` in a custom type for DB operations would help.

[This issue](https://github.com/golang/protobuf/is

[2018-04-02 16:46] kirik commented on #135
Hi @domodwyer
I'm using the latest release. Yes, there is exclusive lock on `mongoSocket` on `socket.go:344`, but on `session.go:4813` read lock takes on the `Session`, not on `masterSocket` which it should be (i believe).
I'm Golang-newbie, don't blame me please if I wrong :)

[2018-04-02 16:57] domodwyer commented on #135
Ah you're totally right. It's probably the case for the `s.slaveSocket` read too in the if above.

It should be possible to take read locks without causing a deadlock, but the locking is really, really [tricky to follow](https://github.com/globalsign/mgo/issues/120#issuecomment-371699575) so I can't say for sure without a test/proper review. I'm not entirely sure if it's a major problem either - t

[2018-04-03 02:03] kassiansun commented on #131
The default behavior will be consistent when the newly-added switch turned off (default).

The issues you referenced is about serialize the generated `*.pb.go` into json, but we're serializing them into `bson`. The new switch will make `bson` package has more control over the bson behaviors, when we fallback into json tags by setting `bson.SetJSONTagFallback(true)`.

[2018-04-03 04:15] KJTsanaktsidis commented on #135
I might be able to have a look at this on Friday if nobody grabs it before then, since my brain has recently been in that code.

[2018-04-03 09:01] domodwyer commented on #134
Hi @leopoldfreeman

Try now, it should be better :)

Dom

[2018-04-03 09:22] leopoldfreeman commented on #134
Hi, @domodwyer

I pulled the codes and rebuild the codes, the problem still exists. I checked the hotfix, it's not the same problem.

[2018-04-03 09:25] leopoldfreeman commented on #134
My problem is: When mongodb is offline, this line will block:

[code]

[2018-04-03 10:10] domodwyer commented on #134
Hi @leopoldfreeman

When running your test case, after a while I get:
[code]

Perhaps changing the [socket timeout](https://godoc.org/github.com/globalsign/mgo#Session.SetSocketTimeout) or [sync timeout](https://godoc.org/github.com/globalsign/mgo#Session.SetSyncTimeout) might help.

Dom

[2018-04-03 11:12] leopoldfreeman commented on #134
I checked it again. You're right. Thank you very much.

[2018-04-03 11:44] domodwyer commented on #134
Cool, glad it's working for you!

[2018-04-04 09:58] TBWISK opened #137 "A mgo error with"
go version:1.9.2
linux version: uname -a

mgo version : glide get github.com/globalsign/mgo  it look like master version
Linux dmp-test01 2.6.32-696.3.2.el6.x86_64 #1 SMP Tue Jun 20 01:26:55 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

how to use:
mgoSession, err = mgo.Dial(GetParms(mongodbURL))
if err != nil {
	panic(err)
}
mgoSession.SetMode(mgo.Monotonic, true)
...

func GetUserInfo(ID string) (map

[2018-04-04 10:02] TBWISK commented on #137
and this fault happend when  trandsMongoTable is large ; when trandsMongoTable len is 3 . this fault not happend

[2018-04-05 11:37] ByLuxury opened #138 "update document problem"
When I do something about  mongodb with mgo, It seems that library may be some  problems.that's following the description:
When I update documents ,generally,use update or updateId,updateAll Api,All of this Api, these Api
 modifies documents documents according to the update documents that offered.it will delete some fields,it only reserves update document fields.it seems  not a good design. somet

[2018-04-05 12:04] szank commented on #138
Hi,

mgo is using the update API provided by MongoDB. The way the update functionality works is identical in all the MongoDB drivers we are aware of. We are not responsible for the design decisions made by MongoDB. If there is a specific scenario that we are not supporting currently, please provide us with a steps to reproduce it and an expected result.

If you have questions about the way MongoDB

[2018-04-05 12:04] #138 closed

[2018-04-05 23:34] carldunham commented on #126
Um, that documentation refers to labix.org, which makes it look like the project hasn't been updated since 2015.

[2018-04-06 09:37] #137 closed

[2018-04-06 14:06] TBWISK commented on #137
@domodwyer it look like lock question .semacquire error. it crash when is error happend .this app would destory , and when I try to use defer recover to catch it ,but fail ! next time I would upgrade go version to 1.9.5 , and try it after ,it would be know what happend

[2018-04-08 03:16] TBWISK commented on #137
Sorry , I use  2&1 to get all err log . and know what happen. my code wrong cause all goroutine raise error . And my code error is that I don't lock my map . and this time this map used by write and read.

[2018-04-10 14:00] domodwyer commented on #131
Hi @kassiansun

We had a discussion as a team and decided this would be rather confusing for end users - we suggest pursuing the answers in the tickets above.

We **really appreciate** the PR, I hope you will open more in the future.

Dom

[2018-04-10 14:00] #131 closed

[2018-04-11 12:35] domodwyer opened #142 "Investigate performance regression in development"
**NOTE:** This issue is for the development branch, and does not effect the production release.

---

Commit 860240ea96bd411b6f6165bb634ac6209981f2c5 (for #116) introduces a performance regression of ~5k/s reads (and probably overall, though mongo is the bottleneck for write operations).

A comparison between 91cf46c3ef1013857ec915403d99a9007f84d06b (the previous commit) and 860240ea96bd411b6f6165

[2018-04-11 20:48] owenhaynes commented on #113
I would only say that interface compatibility is maintained. You can not drop into place over the old v2 without rewriting all your mgo paths.

[2018-04-12 08:51] szank commented on #131
Hi @kassiansun.
I have just stumbled on this thread on golang-nuts and thought it might be somewhat helpful. https://groups.google.com/forum/#!topic/golang-nuts/VHFjFix7hTE

You would have to redefine all the structs where you want to modify the tags, but it should avoid any memory copying.

[2018-04-13 08:24] JeffreyDing11223 opened #143 "'big cpu use' problem"
https://github.com/go-mgo/mgo/issues/403
I got the 'big cpu use problem' as like as #403 , because of
`func (c *Client) saltPassword(salt []byte, iterCount int) {`

in the `func (s *Session) acquireSocket(slaveOk bool) (*mongoSocket, error) {`
after `s.cluster().AcquireSocket( `, will go to `s.socketLogin(sock)` , and then happen the above problem , the problem always happen after the program has

[2018-04-13 08:58] JeffreyDing11223 commented on #143
I think it is related to this issue
https://github.com/go-mgo/mgo/issues/254
I pulled the newest codes just now , see the problem will happen or not

[2018-04-13 09:24] domodwyer commented on #143
Hi @JeffreyDing11223

This is either due to the bug you mentioned, or can be resolved via the instructions in 403. Either way, we can only help with the latest version of our fork.

Dom

[2018-04-13 09:24] #143 closed

[2018-04-17 03:39] kassiansun commented on #131
@szank Actually this won't work across packages, but still good to know this trick.

[2018-04-19 08:56] omerkirk opened #148 "Increasing alive socket count, looks like a leak"
Hi,

I am using the driver with go 1.10. First I've noticed the number of goroutines waiting in socket readLoop is constantly increasing.

[code]

To be able to confirm that this is not due to high load I've checked mongo stats daily, and found that the number of goroutines is the same as SocketsAlive stat. The service I am using the driver gets traffic around 400 rps to 4000 rps depending on the

[2018-04-19 09:26] domodwyer commented on #148
Hi @omerkirk

Great report, thanks for including all the details! This is a known issue unfortunately but work has been made towards fixing it - #116 by @gnawux has added pruning unused connections (thanks!) and I'm currently working on a performance tweak to mitigate the cost of the PR (see #142) that I expect to have ready some time today for review - after that we'll cut a new release that fixe

[2018-04-19 10:50] domodwyer commented on #142
See #149

[2018-04-19 10:50] #142 closed

[2018-04-19 10:56] omerkirk commented on #148
Hi @domodwyer ,

Sure I'd love to help test this.

Just a suggestion, golang sql driver has a very elegant pool implementation with similar requirements (minPoolSize, etc. ) that might guide a solution without the performance hit in #142.

Thanks for the quick answer and the hard work.

[2018-04-20 10:04] domodwyer commented on #148
Hi @omerkirk

That's great news - we've run the development branch through some tests too and it looks good, I'll cut a release later today 👍

Thanks for your help!

Dom

[2018-04-20 21:10] eljasala opened #150 "MarshalJSON encodes NumberLong's as numbers in some cases"
Currently `bson.MarshalJSON` encodes numbers lower than 2^53 as numbers rather than as strings. This also includes all valid negative numbers. I guess former was originally intentional optimization while latter was a bug. However, even former appears to be a violation of the [spec](https://github.com/mongodb/specifications/blob/master/source/extended-json.rst#conversion-table) & it at causes issue

[2018-04-23 16:10] domodwyer commented on #150
Hi @eljasala

I've not come across this personally but not following the spec is a little worrying - does this behaviour match (or expected by) mongo (I expect not given the `mongoimport` error)?

Dom

[2018-04-23 16:31] eljasala commented on #150
I assume that at least all of [mongodb/mongo-tools](https://github.com/mongodb/mongo-tools/) are affected (current [NumberLong parsing logic](https://github.com/mongodb/mongo-tools/blob/3779a3a7bd4e122099333a9ce4d305eb6570fa35/common/bsonutil/bsonutil.go#L413) seems to date back to 4 year old commit).
Mongo shell doesn't support extended JSON as far as I know.
I'm not sure about REST interfaces, M

[2018-04-24 08:45] donutloop opened #153 "Passwords Stored Using Cryptographically Weak MD5 Hash (CWE-916)"
User passwords are stored in the MongoDB database using a cryptographically weak hashing algorithm (e.g. MD5). The user’s credentials are constructed into the string format username:mongo:password. An MD5 hash of this string is stored in the database and used to authenticate the user.

Recent versions of MongoDB support the more secure SCRAM-SHA1 which should be used instead of the previous MONGOD

[2018-04-24 09:29] domodwyer commented on #148
Thanks @omerkirk you've been a big help!

We also confirmed it's all working as intended in our test environment too - we've just cut a new release so everyone can enjoy the changes.

Thanks again!

Dom

[2018-04-24 10:11] domodwyer commented on #153
Hi @donutloop

You raise a very valid, important point - this is trivially breakable hash.

We highly recommend using [certificate based authentication](https://godoc.org/github.com/globalsign/mgo#example-Credential--X509Authentication) in production, it's really worth the time to [set up](https://docs.mongodb.com/manual/tutorial/configure-ssl/) from a security perspective.

As for password-based

[2018-04-25 14:43] rwynn opened #154 "Session Mode Clarification"
Thank for you maintaining mgo and adding new features.  I had a question about setting the Mode of the session.  I am using session.Copy() in a series of go routines to do work concurrently.  I noticed that when I do this the number of connections goes up in mongostat.  This looks good to me since I am trying to maximize throughput.  However, if I follow the session.Copy() with a session.SetMode(m

[2018-04-26 01:25] djensen47 commented on #94
Is there another issue that's tracking documentation?

Right now, if you came to this library fresh, without the http://labix.org/mgo docs, you would not know how to Insert data nor get data out using a struct. Nor is there any clue that you can use a map (or not for that matter) instead of a struct.

[2018-04-26 09:35] domodwyer commented on #94
Hi @djensen47

There's no plans to add an accompanying site / spreading the documentation over several sources - it only makes it trickier for newcomers to find what they're looking for and more work to keep it all in sync. Go strongly encourages documentation within your code which is automatically available on godoc which makes it the go-to place for everyone.

The basic insert/read operations y

[2018-04-26 09:42] domodwyer commented on #150
Hi @eljasala

Can you describe under what situations you got the above error? I'm struggling to understand the scope of the issue (as no one has brought it up before, I imagine it's not too much of an issue?) and I'm not sure the best way to proceed without breaking backwards compatibility.

If you have any info that could help, that would be great.

Thanks!
Dom

---
For what it's worth, I've used

[2018-04-26 10:18] weiishann commented on #154
Hi @rwynn ,

Are you running it against a replica set? Could you check the connection count on the other secondaries please?

**From mgo doc:**
_In the Eventual consistency mode reads will be made to any secondary in the cluster, if one is available, and sequential reads will not necessarily be made with the same connection._

[2018-04-26 14:40] eljasala commented on #150
Note that the issue is with $numberLong rather than NumberLong. Former is strict mode extended JSON while latter is mongo shell mode extended JSON. mongoimport supports both, but does not support mgo's current optimized strict JSON mode (mongo shell only supports shell mode, inserting strict mode JSON will cause `field names cannot start with $` error).

I ran into this problem when trying to use

[2018-04-27 01:55] rwynn commented on #154
Hi @weiishann, I am running it against a single mongod instead, not a real replica set.  Although I did call rs.initiate(), so I guess it's just a one node replicate set (which doesn't make any sense).

Anyway, I know this sort of setup is not how the Eventual Mode is supposed to run, since it is made to read from secondaries, however, I am still wondering why the difference in connection count, s

[2018-04-29 12:51] sleagon opened #155 "Memory leak caused by global session?"
[code]

The code we used in our code is like upside, memory leak is serious when QPS is high.
We rewrite the code with .Copy, everything works well.

[code]

I know the first version is pretty ugly, however, why memory leak?

By the way, thank all you guys for this rep.

[2018-04-30 16:44] domodwyer commented on #155
Hi @sleagon

Sorry I'm a little confused - are you calling `InitMongo()` for each query in the leaky test? The best way is to `Copy()` the session as you are in the second example.

Thanks for the thanks! Always nice!

Dom

[2018-04-30 16:45] domodwyer commented on #154
Hi @rwynn

Would you be able to share your code? We're having a little trouble reproducing the issue.

Dom

[2018-04-30 19:09] domodwyer commented on #150
Thanks for the really clear example code - this is definitely a problem! I'm a bit surprised no one has picked up on this before.

Dom

[2018-04-30 21:32] rwynn commented on #154
Hi @domodwyer

The client code and the line number I had a question about is here

https://github.com/rwynn/gtm/blob/master/gtm.go#L925

That function should be getting called from another named `DirectReadPaged` which first attempts to break a large collection into _id range segments which get read concurrently in multiple go routines in `DirectReadSegment`.

Specifically, I am trying to use this

[2018-04-30 21:49] rwynn commented on #154
A simple way to trigger is to run the following:
[code]
Where `test.test` is a large, multi-million document collection, and viewing the output of `mongostat`.

[2018-05-02 05:32] djensen47 commented on #94
So regarding _Godoc_ doc bugs, should I file them individually, open for discussion, then submit a PR? Or do you have another approach in mind?

[2018-05-03 16:31] domodwyer commented on #94
Hi @djensen47

There's nothing tracking documentation at the moment, but feel free to open issues for specific things that you feel would benefit being included - we'll happily accept PRs for any improvements to the docs.

Regarding the example file, it's [rendered](https://godoc.org/github.com/globalsign/mgo#pkg-examples) in GoDoc, you don't have to go looking for the file so sticks with the "all

[2018-05-04 09:42] domodwyer commented on #154
Hi @rwynn

There doesn't seem to be an issue as such so I'm going to close this, but feel free to re-open if you come across a problem.

Dom

[2018-05-04 09:42] #154 closed

[2018-05-04 14:14] rwynn commented on #154
Hi @domodwyer,

Maybe this example is easier since it is a self contained program with output.

[code]

If you run and note output, then un comment the line that sets the eventual mode, run and compare output.

Notice the difference in the number of connections reported.  If you can explain to me why this difference is correct that would be helpful to me, because I would expect both to be equivale

[2018-05-05 19:56] covrom opened #156 "Upper case and underline in bson.M Find queries not working properly"
In dokument like a ```struct{PostID string `json:"Postid"`}``` or ```struct{PostID string `json:"post_id"`}```

this samples not working (zero result in non-zero database collection):

[code]

but this samle is working correct for ```struct{PostID string}``` or ```struct{PostID string `json:"postid"`}```:

[code]

Why???

[2018-05-06 14:04] simonmeusel opened #157 "Last insert id"
How can I retrieve the _id field when inserting a document.

If this is not possible (#62), how can I generate a ObejectID to pass it to mongo?

[2018-05-08 06:38] lixiangzhong commented on #157
bson.NewObjectId()

[2018-05-08 12:25] ignishub opened #159 "Updates"
Sorry for probably stupid question but:

I have struct like:
[code]

I inserted this struct in DB. In Mongo i have index that prevent from duplicationg URL
I am trying to update Page
[code]

BUT. When i trying to change url in Mongo i still have OLD page AND new page with updated data.

Is that normal?

[2018-05-08 13:57] simonmeusel commented on #157
Thanks!

[2018-05-08 13:57] #157 closed

[2018-05-08 14:26] szank commented on #156
Hi @covrom, sorry of the late reply.

First, could you please confirm the document format in MongoDB?
From what I can see I assume that the document you are trying to retrieve have a field named `postid`, all lower case.

Mgo is using the BSON serializer : https://godoc.org/github.com/globalsign/mgo/bson. It is a part of the mgo repo. The BSON serializer uses `bson` tag key, so if you want to use

[2018-05-08 14:35] szank commented on #159
Hi @ignishub. Just to confirm: You have created `unique` index on the field `url`?

[2018-05-08 16:37] domodwyer opened #160 "Separate read/write timeouts for socket operations"
`mgo` has a single single timeout for read/write operations causes issues when setting sensible limits:
* Setting an (excessive) write limit of 10 seconds  means all queries must return in 10 seconds or the `read()` times out - effectively making `Timeout` a query execution timeout.

* A timeout of 1 minute (time for the queries to complete) means calling `write()` on an unresponsive socket blocks

[2018-05-09 03:48] ddspog commented on #131
@domodwyer Could bson package have some option to set OmitEmpty for every tag? It could be similar to bson.SetJSONTagFallback(true).

I'm working on a wrapper for mgo to short code as much as possible when using this package. The last barrier I encountered was with these omitempty tags. For the way I like to use this mgo package, all fiels on my Document structs should have this tag. And it's real

[2018-05-09 03:55] ddspog commented on #131
It would solve my problem if Marshall or Unmarshall (I'm not sure how it works) could have optional argument to set this default UseOmitEmptyOnEveryField to true. Like...

[code]

Then I would call

[code]

[2018-05-09 09:17] domodwyer commented on #155
Hi @sleagon

It's been a few days so I guess the issue was outside `mgo`? I'll close this but feel free to reply.

Dom

[2018-05-09 09:17] #155 closed

[2018-05-09 09:27] szank commented on #159
Hi, could you please provide more data?
Can you reproduce the same condition in the mongo shell?  Could you please paste the index definition?

mgo behaviour can be mapped to the mongo shell commands, so I would suggest that you try to reproduce your problem in the mongo shell to verify it is a bug in mgo.

I had a quick glance at the update documentation and found this:
https://docs.mongodb.com/m

[2018-05-09 10:34] kassiansun commented on #131
Hi @domodwyer , `bson` has a different usage purpose from `encoding/json`, it's more like a internal package. `encoding/json` can provide a `Marshaller` for customization, but `bson` can't, adding more package-level options is a must-have for `bson`.

But we still can refactor the current design into a `Marshaller` style, and provide package-level options config for a "default marshaller", like `l

[2018-05-09 12:56] ddspog commented on #131
Well, when trying to use collection.Find(document), if document is a struct or a marshaled bson.M version, it won't work nicely, unless all empty fields are omitempty.

If I use User as a document, for example:

[code]

When searching using ID (to access a page author info), Username (on login) or Role (who have admin priority?), omitempty is essencial to Marshal process. If any isn't omitempty, l

[2018-05-11 13:55] #160 closed

[2018-05-11 14:36] kassiansun commented on #131
Hi, @ddspog this is a different problem, we can't change any `bson` behavior as this will affect the internal protocol of MongoDB. So if you want to patch this, patch the `json` tag behavior, and use `bson.SetJSONTagFallback`.

[2018-05-12 04:00] kassiansun commented on #131
@ddspog You need to fork and patch it. You can detect whether the tag is from `bson` or `json` tag at here:
https://github.com/globalsign/mgo/blob/master/bson/bson.go#L703
There is my previous patch to omit `omitempty`, you can simply change it to force `omitempty` by setting `info.OmitEmpty` at here:
https://github.com/kassiansun/turbo/commit/d9db8306069454f2354fa2882105525ab7f4640b#diff-87630d60

[2018-05-13 01:12] ddspog commented on #131
I've resolved to copy my version of bson.Marshal and bson.UNmarshal method to an internal package.

[2018-05-14 13:27] ignishub commented on #159
Sorry for being inactive. I will try that when i'll be near to my pc. Thank you!

[2018-05-15 13:32] simonmeusel opened #164 "Dot notation in structs"
How can I access nested fields from the mongodb response?

If I recieve the following (parsed into a map by mgo.bson and converted to json):

[code]

And I'm trying to load it into a struct:

[code]

But the field is just empty, so how do I load the fields into a struct?

[2018-05-16 02:09] ByLuxury opened #165 "can show operate logs(like query,update,create,remove).and print them out?"

[2018-05-17 13:31] domodwyer commented on #164
Hi @simonmeusel

You need to use a nested struct:
[code]

It's best to try stack overflow for usage questions - the issues tracker is mainly for bugs / features.

Dom

[2018-05-17 13:31] #164 closed

[2018-05-17 13:31] domodwyer commented on #159
Hi @ignishub

I'm going to close this, but feel free to reply.

Dom

[2018-05-17 13:31] #159 closed

[2018-05-17 13:32] domodwyer commented on #156
Hi @covrom

I'm going to close this, but feel free to reply - though it's probably best to ask usage questions somewhere like stack overflow.

Dom

[2018-05-17 13:32] #156 closed

[2018-05-17 21:36] maxnoel opened #167 "Take over gopkg.in/mgo.v2 ?"
Hi!

Currently, https://gopkg.in/mgo.v2 references the old version of mgo (https://github.com/go-mgo/mgo), meaning that anyone who imports "https://gopkg.in/mgo.v2" or one of its sub-packages will get/vendor/use an old, unmaintained version of mgo. This is unfortunate.

Worse still, consider the following use case:

- I'm writing a program that interacts with MongoDB. I'm using `"import github.com

[2018-05-18 05:55] tkallioras opened #168 "mgo.ParseURL function and retry requests"
I created a Atlas MongoDB cluster for testing purposes.
The option that appears on the site is this:

![screen shot 2018-05-18 at 08 32 29](https://user-images.githubusercontent.com/11908520/40217650-8a44a8aa-5a76-11e8-8b59-29d1a8f61214.png)

The format of the given string is:

`mongodb://<USERNAME>:<PASSWORD>@<SERVER_NAME>:27017,<SERVER_NAME>:27017,<SERVER_NAME>:27017/test?ssl=true&replicaSet=Mai

[2018-05-18 09:40] weiishann commented on #168
Hi @tkallioras,

We do not have support for both features yet. PRs are welcomed! :)

[2018-05-18 13:41] domodwyer commented on #168
Hi @tkallioras

I think that's actually an issue with Atlas? Retryable writes did not exist before 3.6 so it's not a valid option for a v3.4 driver, as it relies on the [OP_MSG](https://github.com/mongodb/specifications/blob/master/source/message/OP_MSG.rst) wire protocol added in 3.6 (we have an implementation, however it is not currently used due to a performance regression we need to chase down

[2018-05-18 13:41] #168 closed

[2018-05-18 13:46] domodwyer commented on #167
Hi @maxnoel

I appreciate the frustration! Unfortunately we have no control over `gopkg.in` - it's actually maintained by the original mgo repo author so he would have to change the endpoint to this repo - I  can't say how receptive he would be to changing it.

All I can suggest is maybe try vendoring this repo under the `gopkg.in/mgo.v2` path at your project root, which will trick your dependenci

[2018-05-18 13:46] #167 closed

[2018-05-19 07:28] tkallioras commented on #168
@domodwyer @weiishann Thank you both for your answers. It's a great library. Thank you for your work :)

[2018-05-21 23:30] swrap opened #170 "SSL Behind NGINX Stream proxy"
I have configured [Nginx SSL Stream](https://nginx.org/en/docs/stream/ngx_stream_ssl_module.html) to act as a proxy in front of my Mongo DB.

I have tested it via the Mongo CLI -ssl option and it work flawlessly. However, when I try it with this library I have a problem once I query the mongo database. I receive the following error from a query `Could not verify the message. Message has been tempe

[2018-05-22 09:02] domodwyer commented on #170
Hi @swrap

This is odd - the misspelt message only adds to the weirdness!

I had a quick google and found the exact message (misspelling and all) in a Go package called [cryptoengine](https://github.com/sec51/cryptoengine/blob/9c75deccbeb53d8ec9e45a0fbbb49880738995f7/crypto_engine.go#L32) wrapping the NaCL library - is this something you use? It's not used in mgo and I imagine the nginx module is

[2018-05-22 09:19] domodwyer commented on #170
We don't proxy connections to mongo though - this might not work very well with clustering because mgo queries the connected node for a list of other nodes to talk to: say you connect to r1 and it says "there's r2 at 10.0.0.1 and r3 at 10.0.0.2 too" mgo will try and connect to them directly.

Does this work without the TLS?

Dom

[2018-05-22 23:40] theckman opened #172 "Consider detaching this repository from domodwyer/mgo"
You can reach out to the GitHub support team to have them detach forks from the upstream projects, in cases like this where this project is now effectively the canonical upstream project.

This would make some functions of working with this repo easier, as well as get rid of the diff-stats between this repo and `domodwyer/mgo#master` as seen in the root of this project.

Not sure if this is someth

[2018-05-23 08:19] domodwyer commented on #172
Hi @theckman

I didn't know that, thanks very much!

Dom

[2018-05-23 08:19] #172 closed

[2018-05-23 09:23] bmarguer opened #173 "Race condition on minPoolSize and maxIdleTimeMS"
Hello.
It seems to have a race condition (latest tag : efe0945164a7e582241f37ae8983c075f8f2e870)  on "DialWithInfo" when :
- write part :  cluster.minPoolSize is written
- read part : just before "newCluster" has created the goroutine which launch the synServersLoop (this routine calls syncServersIteration --> spawnSync --> cluster.server --> minPoolSize := cluster.minPoolSize)
I think the minPool

[2018-05-23 09:40] domodwyer commented on #173
Hi @bmarguer

This code has been [extensively reworked](https://github.com/globalsign/mgo/pull/161) - would you mind trying the `development` branch and confirming it is still an issue?

Thanks!

Dom

[2018-05-23 10:06] #173 closed, assigned to bmarguer

[2018-05-23 10:47] domodwyer commented on #173
Hey @bmarguer

That's great, thanks for opening the issue to check though!

Dom

[2018-05-24 11:27] ignishub commented on #159
Sorry for being so long. I solved this problem. This was a bug in my code. Sorry =(

[2018-05-24 16:19] zenghur opened #174 "Abnormal query time"
Recently,  there was a weired  behavior in our prod environment. A single find one query cost to much time. I already built index on this field. I use this snippet of code to reproduce the same behavior.

[code]

Then, I find there are high probabilities that socketLogin() would auth even though globalSession has been authenticated. This action costs too much time. Why this copy session cant remem

[2018-05-25 01:06] swrap commented on #170
@domodwyer Thank you for the help! What we found out was that it ended being a custom marshaller we used when grabbing some data from the mongo instance. Thank you for pointing at the repository, it was caused because we had invalid keys, you were a real help!

[2018-05-25 01:06] #170 closed

[2018-05-25 03:16] Mei-Zhao opened #175 "mgo writeConcern wtimeout does not work"
After obtain a session using the Dial function(mgo.Dial(url)), try to  make the  session in safety mode (session.EnsureSafe) with wmode="majority" and wtimeout = 5000. I should  get the writeConcernErr of a insert command because the mongo cluster has 5 nodes and 3 was locked by fsyncLock.
After 1 min (the default socketTimeout) I got net tcp error like "read tcp i/o timeout".

Some details about

[2018-05-25 04:00] Mei-Zhao opened #176 "mgo still not support writeConcern for findAndModify"
mongod has support writeConcern for  findAndModify command since v3.2

https://docs.mongodb.com/v3.4/reference/command/findAndModify/#dbcmd.findAndModify(the Output part still not update)

If the cluster has been set with getLastErrorDefaults like:

` "getLastErrorDefaults" :
 {

      "w" : "majority",

      "wtimeout" : 5000

} `

The cluster has 5 nodes and 3 of them have been locked by fsyncL

[2018-05-28 07:55] ninedraft opened #177 "Add ACID support"
[Multi doc ACID transactions are part of mongo now!](https://www.mongodb.com/blog/post/mongodb-40-release-candidate-0-has-landed)
Please, add at least basic support. If any help is a need, I'm ready for the assistance.

[2018-05-30 13:15] domodwyer commented on #176
Hi @Mei-Zhao

This mgo fork is a community project - we'll happily accept a PR for `findAndModify`!

Dom

[2018-05-30 13:15] #176 closed

[2018-05-30 13:38] domodwyer commented on #177
Hi @ninedraft

This involves a lot of work before transaction support can be added. Assuming the `OP_MSG` wire protocol introduced in 3.6 is required, a minimum of:

* Bring the [`OP_MSG`](https://github.com/globalsign/mgo/tree/feature/OP_MSG-support) wire protocol branch up to speed with the current development branch
* Investigate and resolve the [performance degradation](https://github.com/glob

[2018-05-30 19:00] seriousben opened #178 "Data race on Dial"
Just saw a data race, on Dial.

The typical scenario where we have seen this happen is when multiple sessions are opened against the same mongo cluster/server. We know we should use `session.Copy`, but in tests we actually want a separate `Dial`.

Using revision: efe0945164a7e582241f37ae8983c075f8f2e870

[code]

[2018-05-30 19:49] seriousben commented on #178
Just got multiple ones running our tests.
[code]

[2018-05-30 20:28] seriousben commented on #178
I suspect this is fixed in development.

[2018-05-31 12:18] seriousben commented on #178
After a few retries we were not able to reproduce this when using the development branch.

For others, this particular error was happening very often in circleci.

[2018-05-31 12:18] #178 closed

[2018-06-01 19:56] JeremyLoy opened #179 "Array Filters not implemented"
[Related MongoDB Documentation](https://docs.mongodb.com/manual/reference/method/db.collection.update/#update-arrayfilters)

We have a need to update only a subset of an array. This capability exists in MongoDB as an Array Filter, however that functionality doesn't seem to be exposed in this SDK.

`globalsign/mgo/updateOp` would need to be updated. In order to maintain backwards compatibility, new

[2018-06-02 11:47] Sata51 opened #180 "Possible to surcharge SetBSON"
Hi,

Is it possible to provide a way to override SetBSON with custom method ?

We are currently in a multi-database environment, one for each client. We want to set the database from where the entity come on-the-fly in the deserialization process.

Thanks

[2018-06-04 07:35] Mei-Zhao commented on #175
[mgo_wTimeout_example.txt](https://github.com/globalsign/mgo/files/2067268/mgo_wTimeout_example.txt)

[2018-06-04 11:32] domodwyer commented on #179
Hi @JeremyLoy

I'm pretty sure the `$filter` can be part of the selector but don't use it myself - a quick google turned [this](https://stackoverflow.com/questions/37153518/how-to-write-these-mongo-code-in-go) up - does it work for you?

Dom

[2018-06-04 11:35] domodwyer commented on #179
Ah sorry, different filter! Looks like you're right, it'll probably need an addition to the API.

We're always happy to have a look over a PR!

Dom

[2018-06-04 11:37] domodwyer commented on #180
Hi @Sata51

Check out the [bson.Setter](https://godoc.org/github.com/globalsign/mgo/bson#Setter) interface.

Usage questions are probably best on stack overflow - we try to use the issue tracker for bugs and improvements.

Dom

[2018-06-04 11:37] #180 closed

[2018-06-04 12:17] domodwyer commented on #175
Hi @Mei-Zhao

The docs for `EnsureSafe` say:
[code]

Because `Wtimeout` defaults to 0 (no delay) using `EnsureSafe()` won't work, because `(WTimeout < 0) == false` so you need to use `session.SetSafe()`.

I've attached a screenshot of a packet capture confirming the value is sent to mongo as expected when using `session.SetSafe(&mgo.Safe{WTimeout: 42})`

<img width="2032" alt="screen shot 2018-06-

[2018-06-04 12:17] #175 closed

[2018-06-05 06:14] Mei-Zhao commented on #175
Thanks for reply.
mgo.Dial(url) always set `session.SetSafe(&Safe{})`. So after that  `EnsureSafe()` never will work for wTimeout.

[2018-06-05 09:06] domodwyer commented on #175
Hi @Mei-Zhao

Sorry, I missed that in your ticket!

Luckily @DaytonG (thanks!) added `wTimeout` to the dial string in https://github.com/globalsign/mgo/pull/162 (development branch), so this should let you set the initial value set by the `mgo.Dial()` call :)

I hope this helps!

Dom

[2018-06-05 11:33] wangke1020 opened #183 "only one mongos router used for each session"
Hi, I've been working on testing write benchmark with mgo client on mongo cluster. It seems that only one mongos router get write operations for each session. If the mongos router is restarted, session will be switch to another mongos router.
I think write operations should be banlanced to all mongos router for the sake of performance, Is it supported?

[2018-06-05 15:16] domodwyer commented on #183
Hi @wangke1020

It only uses 1 mongos, you're right - it should be easy enough to change it to balance between the two (I think I once saw a fork that did this already) but it's not something we've implemented because we run fairly large machines and haven't hit the limits - we'd happily accept a PR though!

Dom

[2018-06-08 19:47] ericmillin opened #186 "Data Race in DialWithInfo"
We have an overburdened CI server that is exposing during testing the following race:
[code]

Should be pretty self-explanatory, but let me know if you have any questions.

[2018-06-11 09:28] domodwyer commented on #186
Hi @ericmillin

What commit are you running? Have you seen https://github.com/globalsign/mgo/issues/178 ? Maybe try development - it might already be resolved.

Dom

[2018-06-12 12:47] zezhengwang opened #189 "how to support 4.0‘s transactions?"

[2018-06-13 09:01] domodwyer commented on #189
https://github.com/globalsign/mgo/issues/177

[2018-06-13 09:01] #189 closed

[2018-06-14 17:42] jerome-laforge commented on #186
Hello @domodwyer ,
I was not able to reproduce this issue onto development branch with my tests.
On other hand, I was able to reproduce this race onto master branch with my tests.

Jérôme

[2018-06-15 10:08] domodwyer commented on #186
Awesome, thanks for checking @jerome-laforge!

There's a [release](https://github.com/globalsign/mgo/pull/191) PR out so this should be in master soon :)

Dom

[2018-06-15 10:08] #186 closed

[2018-06-15 13:47] roobre opened #192 "Why is not bson:",inline" the default behaviour for embedded structs?"
I can definitely see as a good thing the `bson` package offering an option to force inlining of some fields, but I don't see why this isn't the default behavior for embedded structs. This is how other encoders (namely `encoding/json`) work.

Given the following scenario:

[code]

The json codec outputs `{"Field":"","BField":"","Number":0}`

While the bson codec outputs `8fieldbstructbfieldn

[2018-06-18 13:00] domodwyer commented on #192
Hi @roobre

I'm not sure is the honest answer - we forked mgo and haven't changed anything that would break backwards compatibility to make the transition easier for users stuck after the original mgo was no longer maintained - this is one of them!

Sorry!
Dom

[2018-06-18 13:00] #192 closed

[2018-06-18 16:01] sugarjig opened #193 "Use release tags compatible with dep?"
The official dependency management tool, [dep](https://golang.github.io/dep/) is gaining in popularity. The tag names you're using (e.g. `r2018.06.15`) don't play nice when trying to [pin versions](https://golang.github.io/dep/docs/Gopkg.toml.html#version-rules). It seems the de-facto standard is to start version strings with a `v`. Because of this, we have to specify a Git revision instead of a v

[2018-06-18 16:28] roobre commented on #192
Hello,

I understand backwards-compatibility is a powerful reason here. Thanks for your response anyway.

Regards.

[2018-06-19 08:06] xhochipe opened #194 "mongo查询数据集有点问题"
outs, err := bson.Marshal(m)
	   query := bson.M{}
	    for k, v := range m {
		  query = bson.M{k: v}
	   }
	  // var result []ReFeedback
	   var result1 []ReFeedback

	count, err := c.Find(outs).Count()
	conf.CheckErr(err)
	if size > 50 {
		size = 50
	}
	c.Find(outs).All(&result1)
         //c.Find(bson.M{"SecuCode": "000001"}).Skip(page * size).Limit(size).Sort("-timeDate").All(&result)

![imag

[2018-06-19 12:24] dalu opened #195 "Support changestreams"
[Changestreams](https://docs.mongodb.com/manual/changeStreams/) are a new feature of v3.6 and I'm not sure if they're supported by this driver.

If they're not I'd like to suggest adding support for them.

[2018-06-19 12:29] dalu commented on #195
It's supported apparently
https://godoc.org/github.com/globalsign/mgo#Collection.Watch

[2018-06-19 12:29] #195 closed

[2018-06-23 08:25] maxencehenneron opened #196 "Schema validation"
We should add support for schema validation.

Information: https://docs.mongodb.com/manual/core/schema-validation/

[2018-06-23 08:28] #196 closed

[2018-06-23 08:28] maxencehenneron commented on #196
Actually implemented under CollectionInfo

[2018-06-25 10:59] qfrank opened #197 "cross operation on multi bulks result in additional records inserts"
say we have two bulk variables defined from different collections named "Bulk1" and "Bulk2". After running following code, collection "Bulk1" get 2 document inserted, but collection "Bulk2"  also get 2 documents inserted! the reason for this is because **actionPool** defined in bulk.go is not safe in this situation. i just made a pull request to resolve this issue, hope it will get accepted, thank

[2018-06-26 09:18] domodwyer commented on #197
Hi @qfrank

I ran the example above but got the expected output:
[code]

Also in your example above you're calling `blk.Run()` twice, you should check the error returned to ensure the bulk operation actually applied.

Dom

[2018-06-26 09:23] domodwyer commented on #194
Hi @xhochipe

Your `ReFeedback` struct must have the same names, or bson tags:

[code]

Where `field_name_1` is the name in mongo.

If this doesn't work, please post a runnable example - good luck!

Dom

[2018-06-26 09:23] #194 closed

[2018-06-26 09:50] xhochipe commented on #194
@domodwyer

[2018-06-26 09:51] xhochipe commented on #194
![Uploading QQ图片20180626175044.png…]()
![qq 20180626175037](https://user-images.githubusercontent.com/9391575/41903830-7c298ba2-7969-11e8-8047-54318b08fc80.png)

[2018-06-26 14:29] qfrank commented on #197
here is my test code:

	func assertEqual(t *testing.T, a interface{}, b interface{}) {
		if a != b {
			t.Fatalf("%s != %s", a, b)
		}
	}

	func TestCrossBulkProblem(t *testing.T) {
		s, err := mgo.Dial("mongodb://localhost:29017")
		if err != nil {
			t.Fail()
		}
		d := s.DB("parts")

		var (
			blk1Col, blk2Col = d.C("Bulk1"), d.C("Bulk2")
			blk1, blk2       = blk1Col.Bulk(), blk2Col.Bulk()

[2018-06-27 10:54] qfrank commented on #197
Hi @domodwyer
can u tell me what your os type and version, also your golang version pls, i want reproduce your result...so that u can believe me..thanks..
i'm using go version go1.9.2 darwin/amd64

[2018-06-27 12:48] qfrank commented on #197
Hi @domodwyer
So maybe u could reopen my first [pull request](https://github.com/globalsign/mgo/pull/198) on github and considering accept it? i would be very happy then, thanks!

[2018-06-28 09:32] domodwyer commented on #194
Hi @xhochipe

It is very strange - do you have a test function I can run to reproduce? I tried something similar and it works OK for me.

Dom

[2018-06-28 13:46] domodwyer commented on #197
Hi @qfrank

My colleague @eminano is working on a patch that fixes the issue, but preserves the pooling behaviour to minimise the GC pressure (sharing the pool across all `Bulk` instances, instead of a per-instance pool which doesn't provide the same benefit).

Thanks very much for the reporting the issue though, it's really appreciated!

Dom

[2018-06-28 15:02] qfrank commented on #197
Hi @domodwyer

okay, got it, TAT..But i just checked your colleague's PR, looks like it's still not safe enough in multi goroutine environment, say bulk1 in goroutine#1, bulk2 in goroutine#2, which won't be fit for my requirement..I know i can handle this by myself, just some thoughts on it~

[2018-06-28 15:13] qfrank commented on #197
i have newbie question, do we really need using sync.Pool here? Can we just custom implementation of cache to minimise the GC pressure instead? looking forward your response, thanks

[2018-06-28 21:52] timcmiller opened #202 "Upsert with a selector of map[string]map returns inconsistent results"
I've been working on creating an upsert query that uses a selector which is a `map[string]string` and when working with a selector that has multiple keys about 20% of the time I run my query it ends up creating a new index instead of updating the one that is already in the collection.

Here is my code handles the requests and prepares the upsert
[code]

And here is my test case I'm running against

[2018-06-29 11:55] domodwyer commented on #197
Hi @qfrank

An instance of `Bulk` (including the original mgo, our existing implementation and @eminano's implementation) is not safe for concurrent access - we'll be updating the docs to make this clear. Basically this is not safe:

[code]

However using different bulks concurrently is (and always has been) fine:

[code]

However there has been a bug since #56 that meant reusing a bulk instance a

[2018-06-29 12:32] domodwyer commented on #202
Hi @timcmiller

Would you mind putting together a minimal test case (preferably a real test runnable with "go test") to help us take a look at this?

Thanks!
Dom

[2018-06-29 12:44] domodwyer commented on #197
#199 has been merged - this is now fixed in development so closing the issue.

I'll cut a release shortly!

[2018-06-29 12:44] #197 closed

[2018-06-29 17:20] ckeyes88 commented on #202
Hi @domodwyer I'm one of @timcmiller's colleagues and I've put together a gist [here](https://gist.github.com/ckeyes88/b306c9eba546314933559f8011ee14a2) where the only external dependency is mgo and if you re-run `go test ./...` with a local mongo instance running you'll see what Tim described above will take place. Based on what I see in the database on the failed test case, I've concluded that i

[2018-06-30 19:09] sugarjig commented on #193
Great! Can we expect the next release to follow this convention? Any plans to retag previous releases?

[2018-07-02 09:50] domodwyer commented on #202
Hi @ckeyes88

You're totally right - it is indeed likely the random iteration order of maps that is biting you here. This is something we can't really work around in mgo unfortunately (it's part of the Go language specification) and I bet it catches loads of people out. It is particularly important for compound indexes - using a map will _randomly_ match the index field ordering and use the index,

[2018-07-02 09:50] #202 closed

[2018-07-02 09:54] domodwyer commented on #193
Hey @sugarjig

The next release will start with a `v` which should be soonish! I wasn't planning on retagging old versions to keep the repo clean and seems unnecessary after a new version is released! Let me know if there's a good reason to do so though.

Dom

[2018-07-02 20:20] ckeyes88 commented on #202
@domodwyer Thanks for your help! I hadn't thought about using `bson.D` as I'm still getting familiar with all the mgo features. We'll definitely research a solution that fits our use case and follow up with our solution.

Cheers!

[2018-07-07 18:36] pzillmann opened #209 "Connection Leak"
Git commit: current master
Go version: 1.9.4 linux/amd64

Connecting to a database inside a goroutine and exiting that goroutine doesn't free the connection.
The connection is held open even weeks after the goroutine is closed, quickly resulting in 820 connections and open files while only having 5 worker processes at any given time.

That means: mgo isn't checking whether the caller of `dial` is

[2018-07-08 01:15] epelc commented on #209
@pzillmann do you have some example code for this? If you are copying the session in your goroutine you need to call `Close()`.

[2018-07-08 08:44] bojangavrovski opened #210 "Pointer in inline structs returns error when reading from database"
Hi
I encountered an issue while populating a struct with db data. My structs are as follows:
[code]
the error that I get from this action is
[code]
I should note that this only happens while reading from the db, and not when inserting into.

I am aware that this issue has been raised couple of times before: #146, go-mgo#346, and although a fix has been submitted, it still seems that it doesn't wor

[2018-07-08 12:04] pzillmann commented on #209
@epelc `defer session.Close()` would do the trick. But I'm creating a new session per Goroutine.
Is this wanted behavior.

[code]

As you can see, the session is unreachable but still active / pinging every x seconds.

[2018-07-08 12:08] epelc commented on #209
1. You should close he session when you are done with it ie at the end of your goroutine so use defer

2. Even better than the above. Dial once at startup and store a reference to it. In your goroutine call my session. Copy() and defer close on the copy. Then also defer close the main session in your main func so it’s closed on shutdown cleanly.

2 is what you are supposed to really do. 1 is just

[2018-07-08 17:54] davisford opened #211 "mgo expression for `undefined`"
So, JS has `null` and `undefined`.

I am trying to do a projection like the following in mgo:

[code]

But I cannot represent `undefined` in golang / bson.M parlance.  The keyword `nil` does not work.

Any ideas?

[2018-07-08 17:57] davisford commented on #211
Sorry, spoke too soon.  I see there is a `bson.Undefined` constant that can be used.

[2018-07-08 17:57] #211 closed

[2018-07-09 16:39] domodwyer commented on #209
Hi @pzillmann

@epelc is right - thanks for helping out!

There's an example [here](https://godoc.org/github.com/globalsign/mgo#example-Session--Concurrency) that shows the best practise use of a session (including the `defer` as @epelc says!)

I'm going to close this as it's not an mgo issue.

Dom

[2018-07-09 16:39] #209 closed

[2018-07-10 21:23] flaterik opened #212 "Updating from older version that have written time.Duration causes bad data - maybe add a note?"
We had been using an older version of the driver in production for some time, with many time.Duration values stored in the old nanos format. When we upgraded, all of those durations obviously came back 1e6 times larger than intended. Fixing the data was not difficult once we figured out what was wrong, and I do not foresee a code fix to this, but it might be nice to have a note about this change i

[2018-07-10 22:15] jmcclell opened #213 "Connection URL parsing breaks valid tagsets"
The URI parser makes some assumptions that break standard mongo functionality.

In particular, we've encountered two issues for passing tagsets for readPreferenceTags.

Given the following connection URL:
`mongodb://mongodb-1.example.com,mongodb-2.example.com,mongodb-3.example.com?replicaSet=example-replset&readPreference=nearest&readPreferenceTags=foo%3Abar&readPreferenceTags=`

We are passing a

[2018-07-11 00:23] mhutter opened #214 "Remove `dropDups`"
According to [the MongoDB docs](https://docs.mongodb.com/manual/reference/method/db.collection.createIndex/index.html#options-for-all-index-types), the `dropDups` option for indices has been removed in 3.0.

According to the Travis config the library is only tested against MongoDB 3.0 and greater. Do you want to keep deprecated features around for backwards-compatibility or should I open a PR to r

[2018-07-13 12:12] larrycinnabar commented on #210
Yeap, unfortunately, the `inline-pointer` feature was not fully implemented (the encoding is ok, but decoding doesn't work).

I have a fix, but it not fully tested yet. Will make a PR with a fix this weekend.

[2018-07-16 09:02] domodwyer commented on #214
Hi @mhutter

I agree with you, happy to remove old things! I think we can safely assume <3.0 is unused at this point, it's been end-of-life'd by Mongo too. We'll happily accept a PR to remove the old bits 👍

Dom

[2018-07-16 09:02] #214 closed

[2018-07-16 09:31] domodwyer commented on #213
Hi @jmcclell

The connection string parsing is not the most robust thing in the world - it was inherited from the original MGO code and hasn't really been touched since other than bolting on new bits. It's definitely not to the mongo spec.

Does setting `DialInfo.ReadPreference` not work for your use case?

Dom

[2018-07-16 09:33] domodwyer commented on #210
Hi @bojangavrovski / @larrycinnabar

Sorry for the delay - it was a busy week!

Thanks so much @larrycinnabar for triaging and developing a fix - it's truly appreciated - it's nice to see the open source community in action! Let me know if I can help with the fix PR at all.

Thanks again!

Dom

[2018-07-16 10:20] larrycinnabar commented on #210
@domodwyer
bug appeared as a result of my feature, so yeap, it's my responsibility to fix it now.
I'm almost done, (all old test cases pass), but a couple of new test cases fail still.

I'm working on the fix after hours, so it will wait a little bit more ;)

[2018-07-16 20:47] jmcclell commented on #213
Hi @domodwyer,

I'm actually on the devops side of the equation and not the actual developer of the application in question. My team is responsible for passing configuration to applications at runtime and we've standardized on the connection string approach (ie: passing a fully formed connection string with all required options) for our apps that use Mongo.

I will have our developers look at `Dia

[2018-07-16 22:59] larrycinnabar commented on #210
@bojangavrovski
If you're in a hurry, you can just copy-n-paste my wip PR's code (not so many changes), and insert in your local branch. Will work as a temporary workaround

[2018-07-16 23:05] flaterik commented on #212
Sorry, I definitely could have provided more info!
We moved from
package: gopkg.in/mgo.v2
version: 3f83fa5005286a7fe593b055f0d7771a7dce4655
(which I realize is quite old!)
to
package: github.com/globalsign/mgo
version: 113d3961e7311526535a1ef7042196563d442761
This is the change that affected things -
https://github.com/go-mgo/mgo/pull/373
And this is the code in question -
https://github.com/globa

[2018-07-17 02:34] h1048576 opened #218 "Nested structure Problem"
err := c.Find(query).All(&d)

when d is a struct, and he has a field is struct array, unmarsh d is null

for example:
type DS struct {
  A int `bson:"a"`
  B int `bson:"c"`
  C []CS `bson:"c"`
}

type CS struct {
  X int `bson:"x"`
  Y int `bson:"y"`
}

C is []

[2018-07-17 02:38] h1048576 commented on #218
if d := make([]interface, 0)
do c.Find(query).All(&d)
then d is array map, and data is correct

if do this
for _, x := range d {
	b, _ := bson.Marshal(x)
	var out DS
	bson.Unmarshal(b, &out)
	fmt.Println(out.C) // **[]**
}

but do this
for _, x := range d {
	b, _ := bson.MarshalJSON(x)
	var out DS
	bson.UnmarshalJSON(b, &out)
	fmt.Println(out.C) **// data is correct**
}

[2018-07-17 03:05] #218 closed

[2018-07-17 03:06] h1048576 commented on #218
-

[2018-07-17 16:34] dwrz opened #219 "Aggregation / Pipe not returning any results."
Please disregard. The issue was that I was attempting to match to an integer, but I was passing in a string variable. Converting the string to an integer fixed this issue for me.

[2018-07-18 14:32] 2514millerj opened #220 "Dial causing data race"
My application is consistently running into a data race after a couple of seconds. I tried both the master and development branches and I am getting the same results. I am also only using a single session, here is my code:

    session, session_err := mgo.Dial(mongo_uri)
    if session_err != nil {
      glog.Error(session_err)
      return
    }
    defer session.Close()

    for {

    }

And th

[2018-07-18 15:13] #219 closed

[2018-07-18 15:31] domodwyer commented on #220
Hi @2514millerj

What commit is the above stack dump from?

Dom

[2018-07-18 15:38] domodwyer commented on #213
Hi @jmcclell

I fully understand the frustration - we've opted to maintain backwards compatibility with the original `go-mgo` which means we've inherited bits like this connection string parsing being contrary to the mongodb spec.

It is worth looking to see if it's possible to fix the issues you describe in a backwards-compatible way (we would definitely appreciate a PR if it's possible) but I re

[2018-07-18 15:38] #213 closed

[2018-07-18 15:41] domodwyer commented on #212
Hi @flaterik

I had forgotten about this! I think it was pulled into my fork before it became a globalsign fork, and once it started becoming popular we decided to not make breaking changes to help users transition - this slipped through!

Thanks for the issue, we'll update the docs!

Dom

[2018-07-18 15:41] #212 closed

[2018-07-18 15:48] 2514millerj commented on #220
9043a38cb3adad745eeb453c265e8be2c87815c2 -- Development branch

[2018-07-19 15:21] 2514millerj commented on #220
I do not get the data race when using DialWithInfo, only using Dial, if that helps clear anything up.

[2018-07-20 06:46] orange-jacky opened #221 "read 110MB datas from mongodb to memory, but globalsign/mgo package use 1.2GB memory"
hi,
  i use globalsign/mgo pakage in my project, and i want read a 110MB datas that it's 200000 records.  After using runtime/pprof,  i find that 110MB datas save in a map, it's size 110MB, but iter use about 600MB+; "github.com/globalsign/mgo/bson.(*decoder).readElemTo" use about 600MB+.
  can you tell me how to optimize it
  hope your reply

macbookpro:fpr_index fredlee$ go tool pprof fpr_index

[2018-07-20 09:24] ljesparis opened #222 "sha256 mechanisms"
Hi,

mechanisms **SCRAM-SHA-256** will be supported?

[2018-07-20 15:23] domodwyer commented on #222
Hi @ljesparis

See https://github.com/globalsign/mgo/issues/153 - we would happily accept a PR.

Dom

[2018-07-20 15:23] #222 closed

[2018-07-21 01:15] exordium-frozen opened #223 "Data Race When Server Has Gone"
Hi there!

Got race condition:
[code]

Commit `113d396`.
Steps to reproduce:
1. Connect using the following settings:
[code]
2. Shutdown the server
3. Try to perform a call:
[code]
4. Get a race.

This race is being reproduced in 100% cases.

Running on a system:
- macos Sierra 10.12.6
- `go version go1.10.2 darwin/amd64`
- mgo commit `113d396`

[2018-07-24 11:00] pajecha opened #225 "Cursor HasNext"
https://docs.mongodb.com/manual/reference/method/cursor.hasNext/#cursor.hasNext

Will there be support for cursor.hasNext() ??

[2018-07-24 16:33] orasik opened #226 "query $in with regex"
Hi,
I am trying to run a query with $in and regex to reflect this functionality in Mongo [Use the $in Operator with a Regular Expression](https://docs.mongodb.com/manual/reference/operator/query/in/#use-the-in-operator-with-a-regular-expression).

I have tried the following:

- Using similar regex strings as the example in the page above.
`/string/`, `/^string2/`

This didn't return any result.

-

[2018-07-26 12:58] orasik commented on #226
Thanks @lujiacn !

[2018-07-26 12:58] #226 closed

[2018-07-27 11:30] tadukurow commented on #225
Hi @pajecha

It is the vacation season currently, so we're not planning on implementing new features soon.
But we are definitely open to a PR for this, as it looks like a straightforward addition.

[2018-07-27 12:20] domodwyer commented on #225
Hi @pajecha

Is this somehow different to [`Iter.Done()`](https://godoc.org/github.com/globalsign/mgo#Iter.Done)? Obviously apart from being inverted. `Iter.Done()` uses internal state and doesn't make a query to the server, so it could return an incorrect value if a new document matching the cursor is added I imagine.

Dom

[2018-07-29 15:32] pajecha commented on #225
@domodwyer Im not sure if `Iter.Done()` does what `cursor.hasNext()` does. I am trying to implement a range query that then check if my the last found item, if used in a query has more documents. @tadukurow will implement and issue the pull request.

[2018-07-30 09:20] yavuzyurtbegendi opened #227 "Data race when trying to connect to replica sets"
Connecting to my mongodb replicas like this,
[code]
after a node is down, I am getting this log,
[code]

Than, it stops connecting to any available mongodb instance,
[code]

[2018-07-30 12:37] bunyk opened #228 "How to mock mgo.Query?"
I have similar issue similar to this: https://github.com/stretchr/testify/issues/418

I have a function that receives collection and calls `Find()`, so I write following interface for its' parameters:

[code]

How I could now construct `*mgo.Query` in unittests in such a way that `query.Iter()` gives me iterator with the query results I want?

Or should I write wrapper package for accessing my db,

[2018-07-30 13:30] timvaillancourt commented on #228
Hi @bunyk, Percona maintains a set of interfaces to do what you describe here: https://github.com/percona/pmgo.

I believe we only support gopkg.in/mgo.v2 but we hope to add/move to using globalsign/mgo in the future, any help is appreciated

[2018-07-30 21:40] tadukurow commented on #227
Hi @yavuzyurtbegendi, thanks for reporting this.
It looks like this is a duplicate of #223 as in both issues the data race occurs when reading socket.dead outside of the socket lock.

I'm closing this in favour of #223. Please check the discussion there for further information.

[2018-07-30 21:40] #227 closed

[2018-07-30 21:45] tadukurow commented on #223
I had a quick look and the race happens when acquiring a new socket, it is checked for liveness outside the socket lock. It looks like we should be able to get a fix out for this shortly.

[2018-07-30 22:36] tadukurow commented on #220
@2514millerj can you post the dial string you are using? and the dialInfo you use with DialWithInfo?

Dial and DialWithTimeout extract the dialInfo options from the URI. DialWithInfo does not.
The race seems to occur when Dial sets the timeouts after calling DialWithInfo, coinciding with the serverSyncLoop copying dialInfo.

[2018-07-30 22:43] tadukurow commented on #223
After further investigation, this is a duplicate of #135.
I'm closing this issue in favour of continuing the discussion on #135

[2018-07-30 22:43] #223 closed

[2018-07-30 22:45] tadukurow commented on #227
Sorry, after further investigation it turns out #223 was a duplicate of #135.
So please check #135 for futher discussion on this issue.

[2018-07-30 22:52] tadukurow commented on #135
Seems like this issue is gaining some traction.
The fix could be as easy as ensuring locks are taken on slaveSocket and masterSocket (adding `func(s *socket) Dead() error` perhaps) whilst checking if they are dead in session.acquireSocket().

But as said above the locking is tricky and needs some careful investigation.
@KJTsanaktsidis you're still welcome to have a stab at this, if not maybe @emin

[2018-07-30 23:08] KJTsanaktsidis commented on #135
I'll try and find some time for this over the weekend, but I don't want to stop someone else from taking a look at this too. Sorry, this kind of slipped off my radar :/

[2018-08-01 09:47] eminano commented on #135
I'll have a look :)

[2018-08-02 10:29] tadukurow opened #231 "Dropping support for versions < 3.0"
Version 2.6 was End-Of-Life on October 2016 and the travis builds only test 3.0 and up.

Version specific code for < 3.0 features should be removed, simplifying the maintenance burden.
Users of 2.6 and lower should upgrade to a later version of mongo or continue using the current release build of mgo.

[2018-08-02 16:13] eminano commented on #135
@kirik , @exordium-frozen, @yavuzyurtbegendi, the fix for the data race has been merged into development, please let me know if the issue is still happening!

Thanks!

[2018-08-02 20:12] kirik commented on #135
@eminano thank you! I'm not using mgo in production right now, but thank you for fix anyway!

[2018-08-02 20:26] yavuzyurtbegendi commented on #135
@eminano thank you :)

[2018-08-04 09:10] 727023460 opened #234 "runtime: goroutine stack exceeds 1000000000-byte limit"
when i connect mongodb
[code]
error log
3333333333
2222
runtime: goroutine stack exceeds 1000000000-byte limit
fatal error: stack overflow

runtime stack:

[2018-08-06 16:47] eminano commented on #135
I'll close this one now, feel free to reopen if the issue reoccurs!

[2018-08-06 16:47] #135 closed

[2018-08-06 16:48] #220 closed

[2018-08-07 08:18] arjanvaneersel opened #236 "Sorting of array contents not working"
The following query
[code]
Results in `Failed to parse: filter: [ { $match: {} }, { $unwind: "$reminder_reports" }, { $sort: { $reminder_reports: "-1" } }, { $group: { reminder_reports: { $push: "$reminder_reports" } } } ]. 'filter' field must be of BSON type object.`

What I'm trying to do is fetch all records and sort the values of the array. Am I doing this in the wrong way? Or is this a bug?

[2018-08-07 10:56] dalu commented on #195
Yeah I don't know. It doesn't work. Not with this driver, not with official driver, not even in mongo console.
Asked multiple times on IRC - no response.
That's why I wrote https://blog.icod.de/2018/07/22/go-database-changes-notifications-over-websocket-generic-solution-reactive-apps/

[2018-08-08 10:46] yangkghjh commented on #195
I guess if return false means no change.Like this:

[code]

If there is no change,  `changeStream.Next()` will return a false each second.

[2018-08-08 15:47] eminano opened #237 "Add mongo 4.0 to travis CI"
Add last mongo version 4.0 to the continuous integration builds.

[2018-08-09 12:02] CylusFaranIdo opened #238 "bson.Marshal does not support embedding of private structs"
When trying to marshal struct with embedded private struct - bson.Marshal fail with the following error:
"error: reflect.Value.Interface: cannot return value obtained from unexported field or method".

The expected behavior is to marshal all exported fields of the embedded struct. This is what json.Marshal do in this case.

The source of the bug is located in the file "encode.go" in line 509.  cal

[2018-08-11 07:17] crhntr commented on #179
I believe this issue can be closed. Let me know if there is anything left to do.

[2018-08-12 20:26] #179 closed

[2018-08-13 09:39] #231 closed

[2018-08-15 15:30] maitesin commented on #238
Hi @CylusFaranIdo ,

Thanks for reporting this! You are right, it should follow the same behaviour of the `json.Mashal`.

I will have a look at the problem as soon as I can, however **we will happily accept a PR** since you already know where the problem is!

Oscar

[2018-08-16 08:22] thuandoan274 opened #240 "Question: Why golang no response miliseconds time in json when equal 0 ?"
### What did you do?
I'm using mongodb, and I have field createdAt like this
[code]
### What did you expect to see?
I want when I get json it will response like this
[code]
### What did you see instead?
I see it seem like golang omit the zero last
[code]
It make mobile team I working with crash, because It's not follow the format the defined.
Show anyone can help how can I response the zero milise

[2018-08-16 10:07] maitesin commented on #240
Hi @thuandoan274,

The JSONMarshaller follows the RFC3339 standard that uses two digits for fractions of a second: https://golang.org/pkg/time/#Time.MarshalJSON

You can always write your own Marshaller to behave the way you want it to.

Since this is not a problem in the driver, but a design choice by the Golang language I will close this issue.

Oscar

[2018-08-16 10:07] #240 closed

[2018-08-18 17:11] rucuriousyet commented on #92
Hey, Im having some issues with this. For example, If I search "Advancing", I get both "Advanced" and "Advancing", but I get "Advanced" first in the array

[2018-08-21 04:12] KinOSurvival opened #242 "wrong tag for field ExpireAfter in struct indexSpec in session.go"
in session.go

type indexSpec struct {
	...
	ExpireAfter             int     `bson:"expireAfterSeconds,omitempty"`
	...
}

should remove omitempty in ExpireAfter's tag description, otherwise TTL index ExpireAfter will be ignored

https://docs.mongodb.com/manual/tutorial/expire-data/#expire-documents-at-a-specific-clock-time

[2018-08-21 17:20] rsansores opened #245 "New Atlas URI with DNS lookup are not compatible with method ParseURL"
Hello Guys, Is there a workaround to connect with the new Atlas URIs that include "srv" DNS registry?

https://www.mongodb.com/blog/post/mongodb-3-6-here-to-SRV-you-with-easier-replica-set-connections

`mongodb+srv://kay:myRealPassword@cluster0.mongodb.net/?serverSelectionTryOnce=false&serverSelectionTimeoutMS=15000`

When trying to parse this kind of URL I get a UrL not parseable error.

[2018-08-21 17:27] rsansores commented on #245
Sorry, I just discovered this is a duplicate.

[2018-08-21 17:27] #245 closed

[2018-08-21 19:21] timvaillancourt opened #246 "dbtest.DBServer causes panic when server is intentionally shutdown with 'shutdown'"
When you run the 'shutdown' server command on a MongoDB server that was launched by dbtest.DBServer, the .monitor() goroutine causes a panic of the entire test/program.

[code]

I plan to create a PR to add an option to disable the .monitor() func in edge-cases like mine, unless there are any other suggestions.

I think a .SetMonitor(enabled bool) func would work nicely unless there are any other

[2018-08-21 22:02] james-powis opened #247 ".Find().One() hangs"
Greetings,

This issue was previously reported under go-mgo/mgo but appears to never have been addressed:
https://webcache.googleusercontent.com/search?q=cache:tcBm3KxHdr4J:https://github.com/go-mgo/mgo/issues/488+&cd=1&hl=en&ct=clnk&gl=us

I am running into an issue where calls to mongo randomly just hang. Restarting the application is the only way to recover, however other (non mgo) routes conti

[2018-08-21 22:28] james-powis commented on #247
I am not sure if related, but the common function every call shared did not defer the mgo session closure...

[code]

I will keep an eye on this and update / close if this issue is no longer an issue

[2018-08-22 01:28] zhangshp opened #249 "Pipe $sort problem"
[code]

sort working not accurate

[2018-08-22 21:11] james-powis commented on #247
I have had no issues since adding c.Close(), closing.

[2018-08-22 21:11] #247 closed

[2018-08-24 17:10] angelocoiro opened #250 "How to get collection stats"
I need to get collection stats like `db.mycollection.stats()`.
How can I do this with mgo?

[2018-08-27 17:15] peterdeka opened #251 "New MongoDB 4.0 deployment level changestreams watch()"
As per https://docs.mongodb.com/manual/reference/method/Mongo.watch/#Mongo.watch 4.0 introduces the possibility to watch for all collections across all databases of a deployment. I'd like to contribute to implement that as we strongly need it ASAP.

The only big edit to my understanding of the specification https://github.com/mongodb/specifications/blob/master/source/change-streams/change-streams.

[2018-08-27 20:34] lukatendai opened #252 "SCRAM-SHA-1 authentication failed, storedKey mismatch"
After compiling to 32bit x86 version with go 1.11 I cannot connect to the database; the error in mongo log is "SCRAM-SHA-1 authentication failed, storedKey mismatch" Anybody else has similar problem.

It works OK with go 1.10.4

[2018-08-28 09:39] maitesin opened #253 "Add Golang 1.11 to the test matrix"

[2018-08-28 11:57] timvaillancourt commented on #250
Try the ["collStats"](https://docs.mongodb.com/manual/reference/command/collStats/) server command with the [.Run() func](https://godoc.org/github.com/globalsign/mgo#Session.Run).

[2018-08-28 13:30] #253 closed

[2018-08-28 14:08] eminano commented on #242
Hi @KinOSurvival ,

Could you provide the scenario you're facing for this to be an issue?

Thanks!
Esther

[2018-08-28 15:28] eminano commented on #249
Hi @zhangshp,

Could you please provide more information about your issue? What output did you expect and what did you get?

Thanks!
Esther

[2018-08-28 15:36] eminano commented on #250
Hi @angelocoiro,

Please try @timvaillancourt's suggestion. I'll close this issue, let me know if you have any further questions!

Esther

[2018-08-28 15:36] #250 closed

[2018-08-28 15:43] eminano commented on #228
Hi @bunyk,

I assume this issue is now resolved thanks to @timvaillancourt's suggestion. I'll close it, but feel free to reopen if there are any further questions.

Thanks,
Esther

[2018-08-28 15:43] #228 closed

[2018-08-28 16:03] eminano commented on #236
Hi @arjanvaneersel,

Sorry for the delay on getting back to you! Is this still an issue? On a first glance, is it possible that you're missing the $ in front of the "reminder_reports" inside the group filter?

Please let us know so we can either close this issue or look more into it.

Thanks,
Esther

[2018-08-28 16:09] eminano commented on #252
Hi @lukatendai,

Which mongo version are you using?

Thanks,
Esther

[2018-08-28 16:14] lukatendai commented on #252
MongoDB server version: 3.6.2

[2018-08-28 16:33] eminano commented on #252
@lukatendai, could you please provide a step to step reproduction of the issue (from blank cluster to error message, including connection command)?

Will try to reproduce on our side as soon as we have enough info.

Thanks,
Esther

[2018-08-28 16:41] lukatendai commented on #252
I will try too... the whole environment was setup long time ago and it was working fine with original mgo driver and with your driver till I updated go to version 1.11.

When I find time I will try to create brand new setup with sample code and see if I am getting the same issue. But I believe the problem is when I use your driver in a program that is compiled to 32 bit x86 Linux

[2018-08-28 16:53] domodwyer commented on #252
Hi @lukatendai

Just to help diagnosing - does the above mean you've tried with a 64bit-compiled client application and it works as expected in the same MongoDB environment? If so sounds like a possible casting issue and should be easier to track down.

Dom

[2018-08-28 17:28] lukatendai commented on #252
Correct... 64bit version connects to the database without issue

[2018-08-29 00:33] zhangshp commented on #249
@eminano I expect sort with "aaa" ascending order then "activeValue" descending order then "ct"  descending order . just like sql order,if aaa same then sort with activeValue,if aaa ,activeValue same then with ct.

[2018-08-30 16:49] eminano commented on #246
I'll close this now that the PR has been merged, please reopen if the issue still persists.

Thanks,
Esther

[2018-08-30 16:49] #246 closed

[2018-09-02 12:58] mzimmerman opened #260 "Panic invalid memory address or nil pointer"
This is reproducible for me, however I'm working on finding a smaller sample.  Looking at the code, I'm not sure what's going wrong here as e is certainly non-nil as assigned way back in the stack.

Using commit as locked by dep tool - 4b08116de0de75c041bb341686f0b139930f26cb84dfdf7641d435548114181d

This results from a call to bulk.Run() of Insert() calls.

[2018-09-04 00:56] mzimmerman commented on #260
- go version  go1.10.3 linux/amd64
- mongodb version v4.0.0
- arch linux (4.18.5-arch1-1-ARCH SMP PREEMPT Fri Aug 24 12:48:58 UTC 2018 x86_64 GNU/Linux)
- mgo version  6f9f54a

I'll work on the reproducible build, but to be honest, for now (cause I need to keep going), I just put the call to Run() in a func() with defer() and recover()....

[2018-09-04 12:39] sedgwickz opened #261 "invalid memory address or nil pointer dereference"
In the main function, defer xxx().Close() reported panic error, that xxx was a function which returns the *mgo.Session pointer. I was not sure what happened.

The directory structure as below:

[code]
[code]

[2018-09-04 16:43] jinliming2 opened #262 "What did mgo do with file descriptor 4?"
First of all, I wrote this code:
[code]
This works fine, Error A should be output in anticipation, and Error B should not.
Then, I imported the mgo:
[code]
Now, Error A not outputted, and I got Error B outputted: `B listen tcp :80: bad file descriptor`.

Actually, I need to inherit the file descriptor 3, 4 and 5 from the parent process.
If I only inherit the **file descriptor 3**, it works fine, a

[2018-09-05 01:26] KinOSurvival commented on #242
expiresAtIndex := mgo.Index{
			Key:        []string{"expires_at"},
			Unique:     false,
			Name:       "session_expires_at_index",
			Background: false,
			//mgo has a bug, ExpireAfter set as 0 will be ignored, so set it to 1 second
			ExpireAfter: time.Duration(1) * time.Second,
		}

		err := collection.EnsureIndex(expiresAtIndex)

after executing this, index created, but without expireAfterSec

[2018-09-05 09:15] maitesin commented on #261
Hi @sedgwickz,

Thanks for reporting this issue. We might need some more information about the problem in order to help you. Can you provide a snippet of code that can reproduce this issue? Moreover, what is the version of Go, mgo you are using? And in which operating system are you having this issue.

Oscar

[2018-09-05 09:27] domodwyer commented on #242
Hi @KinOSurvival

If the `omitempty` tag is removed, all records would have a TTL of value of `0 seconds`, and they would be removed in the next TTL sweep. It's a quirk of the Go "zero value" which is a little tricky in this corner-case.

As the records are typically [swept every 60 seconds](https://docs.mongodb.com/manual/core/index-ttl/#timing-of-the-delete-operation) within MongoDB, try using a

[2018-09-05 09:27] #242 closed

[2018-09-05 09:32] domodwyer commented on #262
Hi @jinliming2

How are you creating the child process? A `fork` syscall followed by an `execvp` or something similar?

Dom

[2018-09-05 09:55] eminano commented on #249
@zhangshp thanks for the extra information, what result are you getting from the sort to say it's not working?

Thanks,
Esther

[2018-09-05 10:10] domodwyer commented on #260
Hi @mzimmerman

We don't provide any guarantees for Mongo 4.0 at the moment, it's a significant change and `mgo` has not had the time to evolve to support it - sorry!

I'll update the README with a list of supported versions - if you track down the underlying issue however we _are_ very interested in PRs for 4.0 support, it's just going to take a little time to get `mgo` to support 4.0 - every PR

[2018-09-05 10:10] #260 closed

[2018-09-05 10:30] domodwyer commented on #251
Hi @peterdeka

I've just seen you have a PR open already and it's exactly the above! Ignore the noise :)

Thanks!
Dom

[2018-09-05 10:36] eminano commented on #236
Closing this one, please reopen if the issue persists!

Thanks,
Esther

[2018-09-05 10:36] #236 closed

[2018-09-05 11:44] jinliming2 commented on #262
@maitesin I'm running this with Go 1.10.3 in macOS High Sierra, too.

The reason you can't reproduce the behaviour of the first code is you need to run this code with sudo to listen on the port less than 1024.

[code]

[2018-09-05 11:45] jinliming2 commented on #262
@domodwyer I'm trying to open file descriptor 3, 4 and 5 and create TCP File Listener on each of them.
The parent process creates the child process with `syscall.ForkExec`. But now I'm running this directly.

[2018-09-05 12:08] domodwyer commented on #262
Hi @jinliming2

File descriptors are per-process, you need to run via `ForkExec` to "inherit" the correct fd, you can't just do `go run`.

This isn't really an mgo issue - mgo may open fds in the background, but so may any package you import. It's kinda out of scope for a database driver.

I'd suggest looking into passing the fd directly (either via a unix socket, some other IPC, or maybe even exe

[2018-09-05 12:08] #262 closed

[2018-09-05 16:13] sedgwickz commented on #261
Hi @maitesin

Thank you for your reply. I have made a demo program to indicate my problem, but not sure if there is something wrong with mgo or by my own ill used. I think you can check and review my code to find some clues. And related information is as below, but I am sure how to find the mgo version.

go1.10.2 darwin/amd64

[testMGO.zip](https://github.com/globalsign/mgo/files/2353625/testMGO.z

[2018-09-07 15:01] peterdeka commented on #237
What is needed to close this? I saw just adding 4.0 as per PR #259 fails. Any clue? Something we can do?

[2018-09-07 16:16] domodwyer commented on #237
Hi @peterdeka

It looks like the error messages have changed, so the tests would need updating to match against them. There's probably other issues hiding away with 4.0 support though! I meant to close this when adding the [support note](https://github.com/globalsign/mgo#supported-versions) on the readme, but we are definitely interested in 4.0 support / PRs!

If there's anything I can do to help,

[2018-09-07 16:16] #237 closed

[2018-09-11 18:37] rwynn commented on #251
Hi @domodwyer and @peterdeka.  I noticed this issue was related to MongoDB 4 change streams so I thought I'd ask the question here.  Would you be able to support the new `startAtOperationTime` option, a bson.MongoTimestamp I assume, as an addition to the `ChangeStreamOptions` type?  Please let me know if you would like me to open a separate issue for that.

I think the only question would be if an

[2018-09-12 09:39] peterdeka commented on #251
Hi @rwynn seems feasible. I only have to check and be sure that this doesn't interfere with the current use of the `resume()` function. We have to check the fringe cases when the `resumeToken` is used in order to confirm that the retry mechanism of `Next()` is not disrupted by ChangeStreams that make use of `startAtOperationTime`. I hope i can get this done before the PR gets merged.

[2018-09-14 05:00] zycbobby opened #267 "Limit(1).Skip(1) returns wrong number of document"
We use the issue tracker to track bugs with mgo - if you have a usage question,
it's best to try Stack Overflow :)

Replace this text with your description, and please answer the questions below
before submitting your issue to help us out. Thanks!

-------------------------------------------------------------------------------

### What version of MongoDB are you using (`mongod --version`)?
[code]

[2018-09-14 05:36] zycbobby commented on #267
sorry, I use docker pull a standard mongo-3.2.12 , the problem does not happen

I might be some problem with our ocean, I will close it now

[2018-09-14 08:26] zycbobby commented on #267
I confirm that is related to mongos, but...I think it is still a bug?

[2018-09-18 03:15] ByLuxury opened #268 "poll.runtime_pollWait"
goroutine 337 [IO wait]:
internal/poll.runtime_pollWait(0x7f1a467aa0e0, 0x72, 0xc420665d18)
	/usr/local/go/src/runtime/netpoll.go:173 +0x57
internal/poll.(*pollDesc).wait(0xc4201fc798, 0x72, 0xffffffffffffff00, 0xbf5120, 0x1190590)
	/usr/local/go/src/internal/poll/fd_poll_runtime.go:85 +0x9b
internal/poll.(*pollDesc).waitRead(0xc4201fc798, 0xc420272900, 0x24, 0x24)
	/usr/local/go/src/internal/poll

[2018-09-18 15:55] domodwyer commented on #268
Hi @ByLuxury

Please provide some sort of information - this stack trace is normal.

[2018-09-18 15:55] #268 closed

[2018-09-19 14:18] duskglow commented on #177
Hi,

I've added some rudimentary transaction support.  I'll be sending a pull request shortly.  I don't pretend it won't need a little more work, but the actual base support was pretty easy.

I don't have tests or anything like that, though.  Should I just send the PR and see what happens?

[2018-09-19 15:37] duskglow commented on #177
You can see a preview of what we've done at https://github.com/homedepot/mgo .  There's also some basic documentation on how to use it.  We need to add tests and other things so it'll be a bit before I can do a pull request, but please feel free to take a look over the changes and provide feedback if you're so inclined.

The long and short is:  we created a new transaction object, and added transa

[2018-09-20 15:38] aitva commented on #212
Hi @domodwyer,

I am trying to migrate from `gopkg.in/mgo.v2` and I have the same issue. Is there a recommended way to fix this? Can you point me at the doc?

Thanks!

[2018-09-22 23:43] wpjunior opened #270 "maxStalenessSeconds support for mgo.ReadPreference"
"Replica set members can lag behind the primary due to network congestion, low disk throughput, long-running operations, etc. The read preference maxStalenessSeconds option lets you specify a maximum replication lag, or “staleness”, for reads from secondaries. When a secondary’s estimated staleness exceeds maxStalenessSeconds, the client stops using it for read operations."

https://docs.mongodb.c

[2018-09-26 15:29] smaheshs opened #273 "Handling of io.EOF error and related documentation"
From this discussion [here](https://groups.google.com/forum/#!topic/mgo-users/XM0rc6p-V-8) I understand that when a session is being used in a for loop it is safe to do a `session.Refresh()` at the beginning of the loop.

However it is not clear how to handle the collections created from the session.

Should the collection variables be assigned after every Refresh() like this:

[code]

OR can the

[2018-09-26 15:58] xapon opened #274 "Support automatic retries on "duplicate key errors" in upsert queries"
When running `upsert` queries, its is possible that multiple clients will try to create records with the same primary key, resulting in a duplicate key error (E11000).
This is a documented (https://jira.mongodb.org/browse/SERVER-14322), while somewhat counterintuitive, behavior of the database, with a recommendation for a client to retry the query. That's what I'm currently doing in my application

[2018-09-27 07:57] AnotherGoogleFan opened #275 "how to create index while automatic create collection"
I insert some data using mgo.

I found that if there's no such a collection I want to insert data to, mgo will create the collection automaticly.

And I want to create index on that table, is there any way to create index on the collection while it is made automaticly?

[2018-09-27 09:17] eminano commented on #275
Hi @AnotherGoogleFan,

As stated in the issue template we use the issue tracker to track bugs with mgo - if you have a usage question, it's best to try Stack Overflow.

Esther

[2018-09-27 09:17] #275 closed

[2018-10-01 14:01] domodwyer commented on #267
Hi @zycbobby

I'm going to close this as it has been a while - feel free to reply if you have more information though.

Dom

[2018-10-01 14:01] #267 closed

[2018-10-01 19:41] simagix commented on #112
I forked but was not able to run unit tests b/c of the error below.
[code]

Here are the changes to support dns seedlist :
[code]

[2018-10-03 09:34] eminano commented on #274
Hi @xapon,

To do what you're suggesting would mean having to detect and decide under which conditions the upsert should retry on the driver. A collection could have multiple unique constraints and it's possible not all cases would fit the case of a retry.

I believe this is the kind of logic that should be kept on the client side, giving the flexibility to decide how to behave in such an edge cas

[2018-10-03 09:34] #274 closed

[2018-10-07 19:49] msolimans commented on #210
@larrycinnabar thanks! seems like it is not merged yet!, any updates or plans for this issue?

[2018-10-11 09:42] eminano commented on #251
I'll close this issue now that the PR has been merged into development. We'll be cutting a release soon!
Thanks @peterdeka!

[2018-10-11 09:42] #251 closed

[2018-10-12 17:43] jerome-laforge opened #283 "Go modules support"
Hello
Could you tag with support [semantic version](https://semver.org/)?
Could you add go.mod in order to define all dependencies?

Thx
Jérôme

[2018-10-22 11:47] maitesin commented on #283
Hi @jerome-laforge ,

Thanks for taking the time to write this issue. Regarding the tag version, it was changed not long ago to work better with [dep](https://golang.github.io/dep/), please see issue #193. What the reason why you are requesting the usage of a semantic version?

We are happy to review pull requests, so feel free to send one with the change to add the `go.mod` file with the dependen

[2018-10-22 12:11] jerome-laforge commented on #283
Hi @maitesin,

From my point of view, the semantic version is good way to manage dependency (c.f. https://github.com/golang/go/wiki/Modules#semantic-import-versioning). By the way, go modules, that will be official way to manage dependencies, requires semantic version for `Version Selection`(c.f. https://github.com/golang/go/wiki/Modules#version-selection)

Ok, I will try to do that ;)

Thx for yo

[2018-10-22 22:47] vladbarosan commented on #283
@maitesin Agree with @jerome-laforge I think everyone agrees that Semantic Version is the way to go. Also in the issue #193 you mentioned it was promised that future versions will work with dep but as of now, no new release has been made, will you make any new releases soon?  Also will that release conform with semantic versioning ( e.g. v2018.11.20 wont have any breaking changes introduced in v20

[2018-10-23 15:16] pierrre opened #288 "fatal error: concurrent map read and map write"
mgo version: `r2018.06.15`

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

My application crashed with this error:
[code]

### Can you reproduce the issue on the latest `development` branch?

I can't use this branch, because it doesn't support MongoDB < 3.0.
I'm using differen

[2018-10-26 09:42] pierrre commented on #288
I found the cause of the issue, it was in my code.

The projection value was cached, but several goroutines where updating it concurrently, which is a data race.

Sorry

[2018-10-26 09:42] #288 closed, assigned to nobody

[2018-10-30 00:19] sergiolpf commented on #179
when is this being released?

[2018-11-12 15:46] mihai-tiriplica-hs opened #297 "Fix GoLint Warnings"
Hello,
I noticed that mgo is not really golint compliant (started from methods like `FindId` which golint expects to be `FindID`). This becomes a problem when someone wants to start from the mgo interface and implement the logic because golint will start failing on the project.

To be speicific, my usecase for implementing the Collection interface is to add performance monitoring for mongo calls.

[2018-11-14 14:58] domodwyer commented on #273
Hi @smaheshs

A quick read of the source shows a `Collection` has a pointer to the `Database`:
[code]

The `Database` contains a pointer to the `Session`:
[code]

And none of the other information would be invalidated by a `session.Refresh()`.

Hope that helps!
Dom

[2018-11-14 14:58] #273 closed

[2018-11-15 16:50] mdevar opened #300 "Read preference tag sets not prioritised"
Hello globalsign team
I need help with how to specify empty read preference tags using mgo.DialInfo.ReadPreference.TagSets
According to mongodb documentation: https://docs.mongodb.com/manual/reference/method/Mongo.setReadPref/

So **IF** the empty tag set is provided, the fail over logic should match any repl set member, but **ONLY** if it’s unable to match the first tag set

I am specifying the t

[2018-11-16 23:33] philippgille commented on #153
Info:

https://docs.mongodb.com/manual/core/security-scram/

[2018-11-18 17:40] domodwyer commented on #153
Hi @philippgille

MGO already supports `SCRAM` authentication (though only `SHA1`, `SHA-256` is [in progress](https://github.com/globalsign/mgo/pull/282)) - we'll happily accept a PR removing the MD5-based challenge-response auth mechanism though!

Dom

[2018-11-19 17:27] chrisyee1 opened #302 "BSON Unmarshalling: Handling Date Parsing in Unix Time"
When attempting to bson.Unmarshal UNIX date formats that are passed in as integers, there is a parsing error.

-------------------------------------------------------------------------------

### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env

[2018-11-19 23:03] Sayan- commented on #261
Hi @sedgwickz

There is a scope issue in `db/db.go`:
[code]

`session` is being shadowed in `init`. You can rewrite `init` as:
[code]
to get your expected behavior

[2018-11-20 10:29] domodwyer commented on #297
Hi @mihai-tiriplica-hs

We're aware of the unfortunate `FindId` and friends - we have linting for new PRs but unfortunately we have had to whitelist the existing lint failures inherited when we forked the code.

Changing these method names would be a very breaking change, so we've had to live with it as is I'm afraid! Sorry it's having knock on effects for your code - perhaps wrapping mgo in a str

[2018-11-20 10:29] #297 closed, assigned to nobody

[2018-11-22 11:23] KidLinus opened #304 "time.Duration values not made back into milliseconds on unmarshall"
We use the issue tracker to track bugs with mgo - if you have a usage question,
it's best to try Stack Overflow :)

Replace this text with your description, and please answer the questions below
before submitting your issue to help us out. Thanks!

-------------------------------------------------------------------------------

### What version of MongoDB are you using (`mongod --version`)?
[code]

[2018-11-22 12:19] KidLinus commented on #304
I found my issue. The bson tag was incorrect on my struct and coincidently the logger also truncated the number so it was a false positive. You may close this.

[2018-11-22 12:19] #304 closed, assigned to nobody

[2018-11-28 10:14] eminano commented on #302
Hi @chrisyee1,

As mentioned in the issue template, we use the issue tracker to track bugs with mgo - if you have a usage question, such as this one, it's best to try Stack Overflow.

Thanks,
Esther

[2018-11-28 10:14] #302 closed, assigned to nobody

[2018-11-29 17:03] toxicafunk opened #307 "Upsert treats string as array on complex indexes"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
Given the following collection and index
[code]

When trying to insert 2 documents with same profileid, createdat and sessionid BUT different eventid, eventid

[2018-12-01 02:57] steve-gray opened #308 "Wire Protocol Compression?"
Looking through the code, I can't find any work that supports the 3.6 onwards wire-protocol compression. I've got a few cases now where I'm tapping out 1/10Gbe network adapters in the field, and I'm wondering if there's any interest in contributions to support this - or if it's already covered?

[2018-12-03 13:47] domodwyer commented on #308
Hi @steve-gray

There's no current support for compression - it would be a super cool addition if you are willing to open a PR!

Dom

[2018-12-03 13:48] domodwyer commented on #261
Hi @sedgwickz

@Sayan- nailed it (nice!) so I'm going to close this.

Dom

[2018-12-03 13:48] #261 closed

[2018-12-05 00:30] IvanVlasic opened #309 "Not checking "not master" and "node is recovering" errors"
During compact of one of our secondaries I noticed that there was period of few seconds when queries would return error "node is recovering".

Checking mongo specification on server discovery and monitoring I noticed part about handling those kinds of errors as seen [here](https://github.com/mongodb/specifications/blob/master/source/server-discovery-and-monitoring/server-discovery-and-monitoring.r

[2018-12-06 09:28] eminano commented on #307
Hi @toxicafunk,

Looking at the description of what upsert does:
[code]
The selector you're using in your upsert test doesn't use the eventid, so the behaviour you're experiencing is expected. You can have a look at some of the upsert examples in the tests for understanding the usage.

Thanks,
Esther

[2018-12-06 09:28] #307 closed, assigned to nobody

[2018-12-06 11:49] toxicafunk commented on #307
Thanks @eminano,

Can confirm I messed up the selector and it actually works correctly. Thanks for your time.

[2018-12-07 05:16] yuqitao commented on #267
@zycbobby
I  encounter the same problem.  Have you solved it ?

[2018-12-07 14:55] a-pav commented on #98
Sorry, but what do you think about the `String()` method. Must it really return ids as `ObjectIdHex("xyz")`?

[2018-12-09 17:36] dalu commented on #98
@goofle
 .Hex() == .String()

https://godoc.org/github.com/globalsign/mgo/bson#ObjectId.String
https://github.com/globalsign/mgo/blob/eeefdecb41b842af6dc652aaea4026e8403e62df/bson/bson.go#L298

[2018-12-09 17:57] a-pav commented on #98
@dalu Can you elaborate?
I didn't understand your point, sorry.
And `.Hex() == .String()`? yes, I want that.
I don't need .String method to wrap id inside `ObjectIdHex`.

[2018-12-09 18:30] dalu commented on #98
Ah ok.
So my mistake assuming .String() == .Hex()
I always use .Hex()
.String() I guess it for the marshalling to and from db

[2018-12-12 23:21] fuzzypete opened #310 "Add support to Ensure multiple indexes in one call"
I want to eventually have the ability to manage my replica set with different targeted functions. One of these would be an offline full rebuild of all indexes in the foreground to yield best results. However, there is no support to actually submit multiple indexes to Mongo in a batch which minimizes the number of collection scans.

This is a small enhancement which I have prepared for a Pull

[2018-12-18 03:04] chenjie4255 commented on #238
@CylusFaranIdo @maitesin

try add `bson:",inline"` and see if this is what you want?

[code]

output:

[code]

[2018-12-21 04:19] Kathent commented on #268
hello, I run into the same situation,  after a benchmark just create and find op over, I found about 68 goroutines stuck,  and I check the function 'socket.readLoop',  it didn't set the timeout for the first time

[2018-12-21 07:08] Kathent commented on #268
Hi @domodwyer,  I confirmed my thought by moving the method updateDeadline ahead to the start of the loop,  and then the no stuck goroutines.   I wonder whether this is a bug or some normal logic just what it is.  please give me some replies. thx

[2018-12-22 18:00] LucaPaterlini opened #313 "update innerdocument"
hello,
I am trying to update an inner document contained into an array.
As input I have the the id of the outer document and the id of the inner document.

This is the query in mongodb javascript sintax

db.getCollection('accounts').update({
       _id: "TestLedgerAddCheck",
       "history.tx": "ed95e7fee5a19a449023b1d8143d569b2be7b9043bbd18e4c4134b4b93e087cf"
   },{
       $set: {"history.$.time

[2018-12-23 15:32] Ouroboros opened #314 "mgo.DialWithInfo does not throw error given an empty connection string (i.e., func extractURL does not check for empty string)"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

1. Write a piece of code to pass an empty string to `mgo.PraseURL()`:
[code]
2. Read the log:
[code]
3. Note that no error occoured. Howerver, there should be

[2018-12-24 01:35] zycbobby commented on #267
@yuqitao I upgrade mongo to 3.4 then problem gone

[2018-12-24 12:03] anshap1719 opened #315 "Need Help: MongoDB changeStream ends immediately after opening"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

Here's the code I used to watch for changes and push the result to a go channel:
[code]
This channel recieves the value and pushes it to client via websocket.

[2018-12-26 19:34] a-pav commented on #113
Hi @domodwyer
I tried to switch from mgo.v2 to globalsign/mgo for my project but the experience was problematic.
Using globalsign I get "not found" error on a simple .FindId operation while the same operation using mgo.v2 returns the document with no error.
I might not be able to help you thoroughly find what's going wrong here, but; I needed to tell you that globalsign might not be completely com

[2018-12-29 14:52] AhmedX6 opened #316 "pipe All returns empty array"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

I'm trying to retrieve a nested array ("messages") on a document in my collection, here is a json example of my collection
[code]

Here is my pipeline in gola

[2019-01-03 09:37] tokingHong opened #317 "too many goroutine created in mgo?"
![image](https://user-images.githubusercontent.com/39825820/50630953-95333300-0f7d-11e9-9dfe-762839220680.png)
  Is' so weird !!!!
Under what circumstances will this problem occur?

Normal situation is below
![image](https://user-images.githubusercontent.com/39825820/50631121-37531b00-0f7e-11e9-92b4-404377c3b270.png)

[2019-01-06 21:17] domodwyer commented on #317
Hi @tokingHong

This is totally normal - mgo has an internal connection pool so queries can reuse open connections rather than having to perform the full handshake every time. This lowers latency and is fairly normal - the sockets in your screenshot are waiting in the pool as designed.

Hope this helps!

Dom

[2019-01-06 21:17] #317 closed, assigned to nobody

[2019-01-06 21:20] domodwyer commented on #238
Hi @CylusFaranIdo

@chenjie4255 is correct! Thanks :)

I'm going to close this as it is intended behaviour, not a bug.

Dom

[2019-01-06 21:20] #238 closed

[2019-01-07 15:01] domodwyer commented on #316
Hi @AhmedX6

Can you put together a runnable example? I don't believe we've made any significant changes to `Pipe` compared to the original mgo.

Dom

[2019-01-09 04:01] l2eady commented on #316
Hi @AhmedX6
I think the reason that you got empty array is because the $match command that you want to match is wrong value can you try with match": bson.M{"pointer": ObjectId("5c26844696b72e4b6c9ceee6")}}

[2019-01-11 01:47] wzhsh90 opened #321 "query concurrent case cpu 100%"
1、create global session
dialInfo := &mgo.DialInfo{
		Addrs:         []string{host},
		Database:      gDb,
		Source:        gDb,
		Timeout:       5 * time.Second,
		ReadTimeout:   2 * time.Second,
		Username:      user,
		Direct:        true,
		Password:      password,
		MaxIdleTimeMS: 30000,
		PoolLimit:     pool,
		FailFast:      true,
	}
	s, err := mgo.DialWithInfo(dialInfo)
	if err != nil {
		b

[2019-01-15 21:28] jameshartig opened #322 "More sockets created than PoolLimit"
Despite setting `PoolLimit: 1`, the mgo driver proceeds to make 2 connections to the primary.

### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

Setup a 3 member replica set with 1 primary, 1 secondary, 1 arb

[2019-01-15 21:43] jameshartig commented on #322
After digging some more it looks like this might be intentional:
[code]

This is unfortunate because it doubles the number of connections that we think we're making to the primary. Can an option be added to make the pool limit be a hard limit and if the pool is full/used then fail the sync?

[2019-01-16 18:05] eminano commented on #313
Hi @LucaPaterlini,

We use the issue tracker to track bugs with mgo - if you have a usage question, it's best to try Stack Overflow :)

Thanks,
Esther

[2019-01-16 18:05] #313 closed, assigned to nobody

[2019-01-19 19:39] taherv opened #323 "Queries hang after crashed ChangeStream consumer"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

1. Start a mongodb server (docker run -ti --net=host mongo --replSet rs0).
2. Login to mongo using the shell, and convert into a 1 replica replicaSet
    (doc

[2019-01-22 17:07] rwynn commented on #315
Hi @anshap1719 not sure if you figured this out already.  When `Next` returns false you can call it again if `cs.Timeout()` returns true.  Here is an [example](https://github.com/rwynn/gtm/blob/c64d7aca2b934cc765d087e999667b2987cecc19/gtm.go#L1168).

There is also `MaxAwaitTimeMS` on the options if you don't want it to time out so quickly.

Some other things to consider are calling `Close` on the

[2019-01-28 09:33] RO-29 commented on #220
Hello @eminano , Looks like I encountered the same bug, I could manage to use `dialWithInfo` for all my projects with my default timeout settings.

But in some apps, I need to `"clone"` the session and use different timeouts and don't want to use `SetSyncTimeout` or `SetSocketTimeout` since apparently, these methods are what causes the data race issue according to your above comment.

Will you acc

[2019-01-28 11:22] domodwyer commented on #323
Hi @taherv

There's a lot of interesting information here, but it seems highly unlikely that this is a driver issue - one crashed process doesn't have much power over the other process at the driver level. It is possible this is a MongoDB bug as it is the only component that persists any state after the first process crashes.

Are the first steps required to reproduce? Specifically does the MongoD

[2019-01-28 17:24] taherv commented on #323
Yes, you need it to be a replicaSet because changestreams feed from the oplog.

What are the semantics if a mgo driver binary  calls .Next() (and is blocked) in one goroutine and calls Close() on the session in another goroutine ?
Does :
a. Does the .Next() call terminate with error ?
b. the Session.Close() block until all cursors have no outstanding activity ?
c. Is the database supposed to handl

[2019-01-28 17:37] taherv commented on #323
https://github.com/globalsign/mgo/blob/eeefdecb41b842af6dc652aaea4026e8403e62df/session.go#L2056
[code]
The session doesn't explicitly try to cleanup operations .... hmmm.

unsetSocket also isn't doing anything fancy
https://github.com/globalsign/mgo/blob/eeefdecb41b842af6dc652aaea4026e8403e62df/session.go#L5191

[2019-01-29 04:32] zheeeng commented on #314
Have the same issue. And there is the SO question:
https://stackoverflow.com/questions/52256008/golang-cannot-recover-from-panic-mgo-dialwithinfo/52257061

[2019-01-30 15:08] eminano commented on #315
@rwynn thanks a lot for helping out!
@anshap1719 I'll close this issue now.

Cheers,
Esther

[2019-01-30 15:08] #315 closed, assigned to nobody

[2019-02-05 17:01] miketonks commented on #77
We would also like this behavior.  With a large data set, counting all rows is very slow.  Count with limit can give us a much better response time.

To avoid a breaking change, how about a new function CountSkipLimit() ?

[2019-02-05 18:14] ogerardin opened #328 "dbtest: mongod process not killed if spawned from a shim (e.g. installed with scoop)"
When mongod is installed using [scoop](scoop.sh), a shallow executable called a "shim" is created in the path (usually in `%USERPROFILE%\scoop\shims`). The actual mongod.exe lies somewhere else (normally `%USERPROFILE%\scoop\apps\mongodb\current`).
When you launch mongod from the command line, the shim launches the actual mongod as a sub-process. The same happens when dbtest launches mongod, but w

[2019-02-13 20:12] metalperl opened #330 "Unable to get correct Count of Documents in Collection"
Unable to get a count on Collections in MongoDb:

Expected Results: 155799

Actual Results: 0
-------------------------------------------------------------------------------

### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### W

[2019-02-16 18:03] Emixam23 opened #332 "$near/$geoNear doesn't work for me"
Hey !

I am coming because I need to realize geocalculs, however, it doesn't work..

From the doc we have this:

    db.<collection>.find( { <location field> :
            { $near :
                { $geometry :
                    { type : "Point" ,
                         coordinates : [ <longitude> , <latitude> ] } ,
                         $maxDistance : <distance in meters>,

[2019-02-19 18:04] domodwyer commented on #332
Hi @Emixam23

There's an experimental (read: unsupported) API for geospatial queries in the [geospatial-geoNear](https://github.com/globalsign/mgo/tree/feature/geospatial-geoNear) branch - check [these commits](https://github.com/globalsign/mgo/commits/feature/geospatial-geoNear) - maybe they can help you!

Dom

[2019-02-20 09:26] Emixam23 commented on #332
Hey !

Finally found the issue.. Actually, I wasn't creating the index in the right way..

    // EnsureIndex force ids to be unique
	func EnsureAddressIndex(session *mgo.Session) error {

		_session := session.Copy()
		defer _session.Close()

		c := _session.DB(constants.DBName).C(addressDocument)
		// Might be needed one day
		pIndex := mgo.Index{
			Key:  []string{"$2dsphere:location"},
			Bits

[2019-02-20 13:03] domodwyer commented on #332
Awesome! Thanks for reporting back 👍

Dom

[2019-02-20 13:03] #332 closed, assigned to nobody

[2019-02-20 14:36] Emixam23 commented on #332
Of course, you're welcome :) It perfectly works as far as I could see.

Max

[2019-02-21 08:11] ghost opened #333 "Cause of IO timeout"
I am frequently getting IO timeouts while reading and writing data to Mongo DB. The post [here](https://stackoverflow.com/questions/24652587/i-o-timeout-with-mgo-and-mongodb) gives an idea about how to avoid this error but solution doesn't look convincing.

I couldn't find any information about what causes this error in the first place. I mean is it due to too much load, wrong index key etc. This

[2019-02-26 02:07] jinq0123 commented on #242
Please add a comment to mgo.Index.ExpireAfter. It took me some time to find out the reason.

[2019-03-05 10:28] dsvensson commented on #283
Any chance this could be released, tagged etc, any time soon? go-openapi depends on this, and one project I'm working on depends of go-openapi, and it seems like the lack of a go.mod breaks the bingo go language server.

[2019-03-06 22:35] pkaeding opened #335 "*time.Duration not deserialized into milliseconds"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

This gist illustrates the issue: https://gist.github.com/pkaeding/b361060b3b56112dfe01b84942afe648

It seems that when a struct has a `*time.Duration` field,

[2019-03-18 08:08] pierrre commented on #283
It seems https://github.com/go-openapi/strfmt requires `mgo` for the `bson` package only.

Maybe open an issue on https://github.com/go-openapi/strfmt and ask them to migrate to the official Go driver ?
The v1.0.0 has been released recently.
https://github.com/mongodb/mongo-go-driver

[2019-03-19 10:28] maitesin commented on #309
Hi @IvanVlasic

Can you provide an example to reproduce this behaviour? Moreover, contributions are welcomed, so it would be great if you are willing to open a PR!

Best regards,
Oscar

[2019-03-19 10:34] maitesin commented on #322
Hi @fastest963 ,

Thanks for taking the time to report this issue. We are happy to review pull requests, so feel free to send one with the changes to address the problem with the pool limit.

Best regards,
Oscar

[2019-03-19 10:36] maitesin commented on #328
Hi @ogerardin

Can you provide some code to reproduce this behaviour?

Best regards,
Oscar

[2019-03-19 10:37] maitesin commented on #330
Hi @metalperl

Can you try to see if the issue can be produced in `development`?

Best regards,
Oscar

[2019-03-19 10:38] maitesin commented on #333
Hi @smaheshs

Can you provide some code to reproduce this behaviour?

Best regards,
Oscar

[2019-03-19 10:57] IvanVlasic commented on #309
Hello @maitesin, thanks for getting back to me.

I will try to write some tests and possibly open a PR once I get some free time for this.

[2019-03-19 12:07] ogerardin commented on #328
As I wrote, running TestStop in dbserver_test.go will produces error: "Stop did not stop the server".

[2019-03-20 12:48] tokingHong opened #336 "Setting the maxPoolSize has no effect"
before test
![image](https://user-images.githubusercontent.com/39825820/54685145-0633c100-4b51-11e9-9690-ad00928c1bee.png)
![image](https://user-images.githubusercontent.com/39825820/54685151-0b910b80-4b51-11e9-84a2-e7ba80638898.png)
no connections

[code]

![image](https://user-images.githubusercontent.com/39825820/54685183-26fc1680-4b51-11e9-96cf-9632ac921628.png)
![image](https://user-images.gi

[2019-03-20 14:33] FM1337 opened #337 "GridFS.OpenId() fails to find files even if ID is valid"
Attempting to find a GridFS file using the OpenId function always seems to fail to find the file even though the ID is valid. I have converted it to an ObjectID object, I have tried the ID as a plain string, nothing works.

-------------------------------------------------------------------------------

### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go

[2019-03-20 14:48] FM1337 commented on #337
You know, it's days like this, that make me want to cry.

There's not a problem, with the library, I just found out that the bson library I was using, wasn't from this one, but rather the unmaintained one. I'm going to go cry now, sorry for wasting your time.

[2019-03-20 14:48] #337 closed, assigned to nobody

[2019-03-21 06:30] boostbob opened #338 "the func DialWithTimeout panic with MacOS + Go 1.12"
Mac + Go 1.12:

call mgo.DialWithTimeout:

[code]

not always timeout，the go 1.11 or linux won't throw this error.

[2019-03-21 09:39] NeoyeElf commented on #338
I hava encounter the same problem with `mgo.Dial(url string)`

env: Mac + Go 1.12

[2019-03-22 07:30] itytwt commented on #338
No sure if it is the same issue.

In our case, we define `mongo` as `127.0.0.1` in `/etc/hosts` on development machine and pass `mongo:27017` as `DialInfo.Addrs` to the driver, and it seems that address resolving has unexpected behavior during dialing on mac with Go 1.12.

This can be checked by enabling mgo log:

[code]

The root cause points to consecutive failure-and-retry of function `resolveA

[2019-03-25 12:18] mattheusv opened #339 "best way to work with connection pool"
How is the bet way to work with connection pool with mgo? Currently i'm woorking using session.New(), and after I close this with session.Close()

But when I open more than 4096 session with session.New(), I can not open more sesssion, I get the next debug message: Per-server connection limit reached. Seems like that I not closing sessions, but always that I return a new session with session.New()

[2019-03-25 12:24] mattheusv commented on #339
Here is simple example

[code]

I'm use always the func `GetSession()` when I need to interact with mongodb

[2019-03-25 13:21] #339 closed, assigned to nobody

[2019-03-26 15:30] baloo32 commented on #338
Just encountered same issue with Dial on Windows platform (Golang 1.12.1 and MongoDB 3.6.11) so not just on MacOS.

Rolling back Go to 1.11.5 fixes issue and seems to be latest available working version of Golang.

[2019-03-26 16:37] gnixuygnahz opened #340 "Collection.EnsureIndex creates a undesired index name"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
when i run this:
[code]
it created a index naming "uqx_name"

### Can you reproduce the issue on the latest `development` branch?
yes

[2019-03-27 10:46] baloo32 commented on #338
Update from Golang issues tracker:

Sounds like the DNS stub resolver is broken in Go 1.12 and 1.12.1. Can you please confirm that the issue still happens when GODEBUG=netdns=go on non-Windows platforms. If not, the root cause is probably #30521.

Can anyone on non-Windows platform try setting the GODEBUG flag under 1.12/1.12.1 and see if issue persists - I will then feedback to Golang issue.

[2019-03-27 11:41] itytwt commented on #338
Pure Go resolver works on mac here.

[2019-03-27 12:01] roy-michael commented on #338
when using the `GODEBUG=netdns=go` on Mac OS X 10.14.18A391 with `go1.12.1 darwin/amd64` the issue is resolved.

[2019-04-01 13:40] domodwyer commented on #338
Hi all,

Top debugging! I'm going to close this - it definitely sounds like https://github.com/golang/go/issues/30521

Thanks!
Dom

[2019-04-01 13:40] #338 closed, assigned to nobody

[2019-04-01 13:41] domodwyer commented on #340
Hi @gnixuygnahz

I'm going to close this as I'm unable to reproduce - happy to reopen if you have a runnable example though!

Dom

[2019-04-01 13:41] #340 closed, assigned to nobody

[2019-04-01 13:52] domodwyer commented on #336
Hi @tokingHong

Cloning a session is [documented](https://godoc.org/github.com/globalsign/mgo#Session.Clone) to reuse the same socket:

I guess your connections are coming from somewhere else?

I'm going to close this, feel free to reply if you think it is definitely a mgo issue though!
Dom

[2019-04-01 13:52] #336 closed, assigned to nobody

[2019-04-01 13:57] domodwyer commented on #328
Hey @ogerardin

I think this is probably an issue with scoop not propagating the signal to the child `mongod` process if scoop itself is stopped.

Dom

[2019-04-01 13:57] #328 closed, assigned to nobody

[2019-04-01 13:59] domodwyer commented on #333
Hi @smaheshs

This is normal - you're likely overloading your client/server/network or your timeouts are too low for your workload. Indexes will help if your queries are taking a long time, and limiting load will help in general.

Sorry, we can't really help!
Dom

[2019-04-01 13:59] #333 closed, assigned to nobody

[2019-04-01 14:02] tokingHong commented on #336
@domodwyer You can check my code and have a test :)

[2019-04-01 14:06] ogerardin commented on #328
You're certainly right, but I think killing the process tree is safer in all cases.
I'll see if I can open an issue with scoop.

[2019-04-02 02:49] wzshiming opened #341 "Should the time use Local instead of UTC ?"
https://github.com/globalsign/mgo/blob/eeefdecb41b842af6dc652aaea4026e8403e62df/bson/decode.go#L724

[2019-04-04 11:38] eminano commented on #341
Hi @wzshiming,

It's standard practice (and a good idea) to use UTC instead of local, since it guarantees consistent timestamps. If you have the need for local time, you should handle the conversion on your end.

Cheers,
Esther

[2019-04-04 11:38] #341 closed, assigned to nobody

[2019-04-04 13:17] eminano commented on #330
Hi @metalperl,

I've tested the count with the provided version of mgo and it works as expected. This doesn't look like an issue with the library but more to do with your mongo setup/code.

I would suggest the following:
- Make sure your collections exist and contain the expected documents
- Your ```Models``` input variable contains the right collection names
- The parsing of the ```Models``` is d

[2019-04-04 13:17] #330 closed, assigned to nobody

[2019-04-04 13:30] eminano commented on #316
Thanks @l2eady!

@AhmedX6, did the solution proposed work? If so, we'll close this issue.

Thanks!
Esther

[2019-04-04 13:58] eminano commented on #335
Hi @pkaeding,

Sorry for the delay!

I've tried reproducing the issue with the information provided, but the test in your gist is working for me (I'm using mgo version 3.2.21 instead of 3.2.17).

Did you manage to solve the problem?

Did you maybe try with a newer version of mgo? I'm not sure if that would help in this case, but the bson encoding/decoding hasn't been changed for a while so it does

[2019-04-04 14:11] AhmedX6 commented on #316
Hello,

No it did not work I used an other library sorry for late response you can close this issue.

Thanks,
Ahmed

[2019-04-04 14:12] eminano commented on #316
Sorry to hear, thanks for your response!

[2019-04-04 14:12] #316 closed, assigned to AhmedX6

[2019-04-04 14:23] domodwyer commented on #321
Hi @wzhsh90

When there are no available connections in the connection pool, and the pool limit has not been reached, a new connection is created. This new connection performs authentication with the MongoDB instance (if required) and then caches the credentials for reuse - this operation is expensive by design (see [RFC5802](https://tools.ietf.org/html/rfc5802)).

If you're suddenly making a larg

[2019-04-04 14:23] #321 closed, assigned to nobody

[2019-04-04 15:09] eminano commented on #314
Hi @Ouroboros,

Sorry for the delay!

Passing an empty URL is not necessarily an error, in this case it means mongo uses the default URL to connect (```mongodb://localhost:27017```). From your tests, it seems the default URL behaviour is OS specific.

If you want to prevent empty URLs, you can just add a check on your end before passing it to mgo.

Making the driver flag it as an error would be a

[2019-04-04 15:09] #314 closed, assigned to nobody

[2019-04-04 15:45] eminano commented on #300
Hi @mdevar,

Really sorry for the delay!

From the implementation, it seems the tag sets are not prioritised. All the servers are checked against all the tag sets, and if they satisfy at least one, they are selected as the best fit.

https://github.com/globalsign/mgo/blob/master/server.go#L562
https://github.com/globalsign/mgo/blob/master/server.go#L359

Which means, if you have primary preferred,

[2019-04-05 13:22] domodwyer commented on #322
Hi @fastest963

Is this actually creating the connections, or could it be related to https://github.com/globalsign/mgo/pull/329? It might be worth trying with @KJTsanaktsidis's branch.

Dom

[2019-04-05 13:25] domodwyer commented on #283
Yeah, it's probably best to move to the official driver - mgo is old code and doesn't have the development support that MongoDB is providing for their official driver!

On a related note, go.mod was merged into development several months ago so I will close this ticket.

Dom

[2019-04-05 13:25] #283 closed

[2019-04-05 17:09] Emixam23 opened #342 "UpdateAll - Can I update multiple different records"
Hi !

I am coming because I would like to know how can update mutliple records with the same request. I have this code that makies me able to update one document based  on a given id

    func UpdateByID(session *mgo.Session, documentName string, id *bson.ObjectId, item interface{}) error {
		_session := session.Copy()
		defer _session.Close()
		collection := _session.DB(constants.DBName).C(docume

[2019-04-08 09:37] eminano commented on #342
Hi @Emixam23,

We use the issue tracker to track bugs with mgo - if you have a usage question,
it's best to try Stack Overflow :)

This example of use from the tests might be helpful though:
https://github.com/globalsign/mgo/blob/master/changestreams_test.go#L358

Thanks!
Esther

[2019-04-08 09:37] #342 closed, assigned to nobody

[2019-04-09 08:29] Emixam23 commented on #342
Hey :)

Thanks for your help, sorry for asking then :)
I will give it a try, thanks again

Max

[2019-04-12 05:49] primalmotion opened #344 "Data Race at startup"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

Just starting my backend:

[code]

This only happens once it starts, but almost everytime

[2019-04-12 19:38] derrickburns opened #345 "Gratuitous time zone remapping breaks user code"
https://github.com/globalsign/mgo/pull/42

breaks all user code that compares original versus retrieved versions of a Mongo object with an embedded time field Time objects if the original version is not in UTC.

This includes  practically all Gomega Unit tests that use DeepEqual on structs with Time objects.

This was a bad idea.

[2019-04-16 15:22] domodwyer commented on #345
Hi @derrickburns

Thanks for the ticket - perhaps you're looking for https://golang.org/pkg/time/#Time.Equal

Best wishes.

[2019-04-16 15:22] #345 closed, assigned to nobody

[2019-04-17 07:39] tokingHong opened #346 "Reappearance of Max Pool limit bug"
I found the problem in #336 ,but I can't accept the answer for closing it so casually！
    **You didn't even have a try.** But it seems to be fixed #329
    But I'm not sure it is the really same issue,so I will repeat it
steps of reappearance :
  Create more than limited session before reaching the pool limit!
eg
 limit:100
 create 200 sessions immediately ,it will occur

The pool limit will effe

[2019-04-18 08:41] rajeshnair opened #348 "Lock never unlocked in socket.SimpleQuery"
`wait` Mutex in `socket.SimpleQuery` is never Unlocked.
https://github.com/globalsign/mgo/blob/master/socket.go#L408
[code]

-------------------------------------------------------------------------------

### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you

[2019-04-18 10:25] eminano commented on #335
I'll close this issue, please feel free to reopen if there's a problem with the driver.
Thanks,
Esther

[2019-04-18 10:25] #335 closed, assigned to nobody

[2019-04-19 11:46] hjr265 opened #349 "GridFS driver doesn't create any index on the files collection"
According to the GridFS specification, there should exist an index on the files collection ([ref](https://github.com/mongodb/specifications/blob/cb1c5fea75a3d44f1368b073ea91aa00ba3d338c/source/gridfs/gridfs-spec.rst#indexes)):

I did a quick scan of the gridfs.go file and it seems the only index that is created in that file is  the second one: https://github.com/globalsign/mgo/blob/eeefdecb41b842a

[2019-04-19 11:52] hjr265 commented on #349
I can send a pull request for this if you want.

[2019-04-21 09:06] lujiacn commented on #349
No, when you create file via GridFS(..).Create(....), id will be created. return file, error. you can get id from `func (*GridFile) Id`

refer to code line 174, below
[code]

[2019-04-21 09:55] Dragomir-Ivanov opened #350 "JSON Marshalling for Decimal128 type"
Hi there,
How open are maintainers of this project on adding JSON Marshaling for Decimal type.
It is pretty simple change:
[code]

[2019-04-24 11:12] yalegko commented on #350
Probably it would be a bit more elegant to add [`encoding.TextMarshaler`](https://golang.org/pkg/encoding/#TextMarshaler) which is respected by `encoding/json`.

It's a common way to provide a general marshalling logic which is repected by many other marshallers, e.g. https://github.com/go-yaml/yaml (https://github.com/go-yaml/yaml/blob/v2/encode.go#L135)

[2019-04-24 14:55] thecampagnards opened #351 "How to use js function in mgo Find request?"
In a request I need to use a function :
[code]

I tried something like that:
[code]

But I have this error :
[code]

Does someone know how to do it, I didn't find anything on stackoverflow or here ?

Thanks

[2019-04-25 13:00] Dragomir-Ivanov commented on #350
Thanks for the reply @yalegko , you may be right. I will make a PR for implementing `encoding.TextMarshaler`.
I see there are lot of PRs in the queue, but no commits to master last 6 months. Is this project alive?

[2019-04-25 13:10] yalegko commented on #350
Woops, looks like I was too impatient, sorry :)

No idea, but suppose it uses development -> release model and dev branch seems fresh enough

[2019-04-25 13:15] Dragomir-Ivanov commented on #350
Just made the same PR, but you put an effort for the tests :laughing: We are cool. I will close my PR :rofl:

[2019-04-25 13:17] Dragomir-Ivanov commented on #350
I really like how Go made our 2 implementations to look exactly the same.

[2019-04-25 14:40] baloo32 opened #354 "Panic on mgo.Session.Ping when session closed"
We use the Ping method to check periodically if the service is available, and if not, to try and auto-connect in case it is a temporary connection issue.

I am encountering an issue on closing a running server where a call to an in-progress Ping fails with a panic: Session already closed rather than an expected error return.

------------------------------------------------------------------------

[2019-05-02 18:17] primalmotion opened #358 "panic in bulk when db is unresponsive"
I notice the following panic when mongo is not super responsive (ie I was running a huge indexing operation)

[code]

[2019-05-16 04:09] houzhongjian opened #359 "How does mgo run the mongodb shell?"
i want to use mgo run `mongodb shell` !!
 like db.Query("db.user.find({name:"jack"})")
but I don't know which API to use.

[2019-05-16 07:14] houzhongjian commented on #359
oh cannot use this method to execute the mongodb shell !!!

The following is the right way

[2019-05-16 07:14] #359 closed, assigned to nobody

[2019-05-16 13:50] eminano commented on #350
Hi @Dragomir-Ivanov and @yalegko,

Thanks a lot for taking the time to implement this, and sorry for the delay!

We are planning on cutting a last release shortly after which we'll stop supporting this repository, since the official driver is now out and available (https://github.com/mongodb/mongo-go-driver/).

We are sorting out all the existing PRs, and we'll run a battery of performance tests t

[2019-05-16 14:09] eminano commented on #351
Hi @thecampagnards,

We use the issue tracker to track bugs with mgo - if you have a usage question,
it's best to try Stack Overflow :)

I did a quick search and found this, which might be useful to your case.
https://stackoverflow.com/questions/12008910/how-can-i-ask-mongodb-to-evaluate-some-javascript-in-order-to-obtain-value-for-a

If this doesn't help, I'd suggest to either have a deeper look

[2019-05-16 14:09] #351 closed, assigned to nobody

[2019-05-16 19:46] Dragomir-Ivanov commented on #350
Hi @eminano, no problem for the delay, and thanks for merging into `development`.

[2019-05-26 15:15] mhutter commented on #112
This would make the MGO driver compatible with [MongoDB Atlas](https://cloud.mongodb.com)

[2019-06-14 07:40] tnerolftnerolf commented on #112
Any news?

[2019-06-14 14:13] zigazeljko opened #362 "Add support for encoding.TextMarshaler/TextUnmarshaler"
[`encoding.TextMarshaler`](https://golang.org/pkg/encoding/#TextMarshaler) is a common way to provide a general marshaling logic which is repected by `encoding/json` and many other marshalers, e.g. https://github.com/go-yaml/yaml (https://github.com/go-yaml/yaml/blob/v2/encode.go#L135). Currently the bson package only supports custom marshaling logic via the `bson.Getter` interface, which is BSON-

[2019-06-16 02:53] zhoushuaime opened #363 "Cursor not found, cursor id: 4718966816"
when insert data, there is a error:Cursor not found, cursor id: 4718966816

[2019-06-25 19:47] hjr265 commented on #349
@lujiacn Thanks, but I was referring to the creation of database indices, not IDs.

[2019-06-27 14:08] XEuRoMAN opened #365 "Bug in copySession method"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

Trying to copy the session and have different socket timeout value. Sadly, if I set `SetSocketTimeout` on one session, value is changed on all sessions that w

[2019-07-01 16:12] Elojah opened #366 "Nil slices and empty slices are considered the same"
Probably related to: https://github.com/globalsign/mgo/pull/147

I have a struct with:
[code]

I need to differentiate `bar == nil` or `bar == []string{}`.

When insert + findOne with a `nil` bar:
[code]
When adding `omitempty` tag previous test will be okay but test on insert + findOne with a `[]string{}` bar:
[code]
I have to add a layer above to handle those cases properly, it would be more con

[2019-07-08 12:25] smaurel opened #367 "Bulk upserts does not report upserted IDs"
The bulk result structure does not contain UpsertedIDs, so it is impossible to know what IDs were inserted when upserting using bulk upsert.

The fact that this feature is missing is a problem for requests such as the following one, when I want to do something with IDs that were inserted.

`db.my_collection.bulkWrite([{"updateOne": {"filter": {"not_id_field" : "10000000"}, "update": {"$setOnInsert

[2019-07-11 17:20] tomalaci opened #368 "Nil panic (invalid memory address) in Unsafe mode with split Bulk operations"
Bulk Upsert (and maybe other Bulk operations) panic with invalid memory address or nil pointer dereference when you set session to operate in unsafe mode (session.SetSafe(nil)) AND you try to bulk-run more than 1000 operations so you trigger a split.

The source of nil panic is in writeOp, where oplerr is nil:
https://github.com/globalsign/mgo/blob/development/session.go#L5522
But the source of th

[2019-07-12 07:49] NeoyeElf opened #369 "how to ensure the sockets in unusedSockets available"
### What version of MongoDB are you using (`mongod --version`)?
[code]

### What version of Go are you using (`go version`)?
[code]

### What did you do?
my program uses the mgo to connect to a mongo shard cluster. When the concurrent requests increase rapidly, some of my mongo query would return err like "insert err:write results unavailable from ${ip} :: caused by :: Location11002: socket except

[2019-07-16 14:33] qhenkart opened #371 "still active?"
Is this library still active? I see it's been over a year since a release was made. We need to use ArrayFilters and I notice they are on the development branch from a year ago but not on an official release. Is this library still being maintained?

[2019-07-23 06:49] SchumacherFM commented on #371
I don't think so ... we're switching to https://github.com/mongodb/mongo-go-driver

[2019-08-05 12:55] vinllen commented on #322
I've already submitted a bugfix branch to solve this problem, please review #373